.divprimaryCtaGradient {
  width: 35.188rem;
  height: 28.375rem;
  position: relative;
  background: linear-gradient(101.13deg, #0d0d0e, rgba(13, 13, 14, 0.97) 92%);
  display: none;
  max-width: 100%;
}
.ourServiceYourData {
  position: relative;
  letter-spacing: 2.22px;
  line-height: 0.694rem;
  text-transform: uppercase;
  font-weight: 600;
  flex-shrink: 0;
  z-index: 2;
}

.representationUserExperienceIcon {
  width: 59.7rem;
  height: 28.363rem;
  position: relative;
  margin: 0 !important;
  right: 0rem;
  /* left: 0; */
  object-fit: cover;
}

.flexclasdata{
  display: flex;
  flex-direction: row;
}

.growthContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.aidit {
  background: linear-gradient(97.28deg, #ff8e37, #f05306);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.elevateYourDigitalContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-25xl-8);
  line-height: 3.736rem;
  font-weight: 600;
  flex-shrink: 0;
  z-index: 2;
  color: var(--color-white);
}
.growthContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-2xs-1);
}
.contactUs {
  width: 6.188rem;
  position: relative;
  letter-spacing: -0.38px;
  line-height: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6.188rem;
}
.businessGrowth,
.contactButton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.contactButton {
  width: 9.475rem;
  border-radius: 110.44px;
  border: 3px solid var(--color-darkorange);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-3xs)
    var(--padding-7xl);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  font-family: var(--font-inter);
  cursor: pointer;
}
.businessGrowth {
  width: 35.188rem;
  background: #000000;
  flex-direction: column;
  padding: var(--padding-72xl-8) var(--padding-smi) var(--padding-71xl-1)
    var(--padding-104xl);
  gap: var(--gap-11xl-1);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xs-1);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-sora);
}
@media screen and (max-width: 800px) {
  .representationUserExperienceIcon {
    width: 100%;
    height: 28.363rem;
    position: relative;
    margin: 0 !important;
    right: 0rem;
    /* left: 0; */
    object-fit: cover;
  }
  
  .elevateYourDigitalContainer {
    font-size: var(--font-size-17xl);
    line-height: 3rem;
  }
  .businessGrowth {
    gap: var(--gap-mini);
    padding-left: var(--padding-42xl);
    box-sizing: border-box;
  }
  .flexclasdata{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .flexclasdata{
    display: flex;
    flex-direction: column;
  }
  .elevateYourDigitalContainer {
    font-size: var(--font-size-8xl);
    line-height: 2.25rem;
  }
  .businessGrowth {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-41xl);
    padding-bottom: var(--padding-40xl);
    box-sizing: border-box;
  }
}
