.december052021,
.minRead {
  position: relative;
  line-height: 1.625rem;
  text-transform: capitalize;
}
.minRead {
  display: inline-block;
  min-width: 5.563rem;
}
.cardDate,
.divider,
.dividerWrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.cardDate {
  width: 23.131rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-6xs-1);
  gap: var(--gap-xl);
}
.divider,
.dividerWrapper {
  align-self: stretch;
}
.divider {
  flex: 1;
  position: relative;
  border-top: 0.9px solid var(--color-gainsboro-200);
}
.dividerWrapper {
  height: 0.056rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.digitalPlatform,
.newDeviceInvention {
  margin: 0;
}
.newDeviceInventionContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
}
.frameParent,
.loremIpsumIs {
  align-self: stretch;
  flex-shrink: 0;
 
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini-7);
  max-width: 100%;
}
.loremIpsumIs {
  height: 5.256rem;
  position: relative;
  font-size: var(--font-size-mid-3);
  line-height: 150.5%;
  color: var(--color-gray-300);
  display: inline-block;
}
.cardDivider {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-5);
  max-width: 100%;
  font-size: var(--font-size-7xl);
  color: var(--color-darkslategray-300);
}
.viewMore {
  position: relative;
  line-height: 145.5%;
  display: inline-block;
  color: var(--color-orangered-100);
  min-width: 5.375rem;
  cursor: pointer;
}
.cardContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini-7);
  flex-shrink: 0;
 
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mid-3);
  color: var(--color-gray-300);
  font-family: var(--font-helvetica);
}
@media screen and (max-width: 450px) {
  .cardDate {
    flex-wrap: wrap;
  }
  .newDeviceInventionContainer {
    font-size: var(--font-size-2xl);
    line-height: 1.438rem;
  }
}
