.aidit {
  position: relative;
  letter-spacing: 3px;
  line-height: 1.875rem;
  font-weight: 500;
  display: inline-block;
  min-width: 3.563rem;
  flex-shrink: 0;
}

.aiExpertise,
.strategicItConsultancy {
  margin: 0;
}

.strategicItConsultancyContainer1 {
  width: 100%;
}

.strategicItConsultancyContainer {
  margin: 0;
  width: 27.813rem;
  position: relative;
  font-size: inherit;
  line-height: 3.438rem;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.artificialIntelligenceFor {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1.638rem;
  font-family: var(--font-inter);
}

.descriptionContainer,
.descriptionContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.descriptionContent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-47xl);
}

.descriptionContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}

.bg {
  height: 3.25rem;
  width: 9.875rem;
  position: relative;
  border-radius: 81.82px;
  background: linear-gradient(97.28deg, #ff8e37, #f05306), #5543f5;
  display: none;
}

.learnMore,
.vectorIcon {
  position: relative;
  z-index: 4;
}

.learnMore {
  text-decoration: none;
  letter-spacing: 0.04em;
  line-height: 1.688rem;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 5.688rem;
  white-space: nowrap;
}

.vectorIcon {
  width: 0.256rem;
  height: 0.513rem;
}

.vectorWrapper {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}

.button,
.consultancyDescription,
.logoContainer,
.vectorWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.button {
  width: 9.875rem;
  border-radius: 81.82px;
  background: linear-gradient(97.28deg, #ff8e37, #f05306), #5543f5;
  flex-direction: row;
  padding: var(--padding-sm-1) var(--padding-6xl) var(--padding-xs-9);
  box-sizing: border-box;
  gap: var(--gap-7xs-1);
  z-index: 3;
  text-align: center;
  font-size: var(--font-size-sm-1);
  font-family: var(--font-inter);
  cursor: pointer;
}

.consultancyDescription,
.logoContainer {
  flex-direction: column;
  max-width: 100%;
}

.consultancyDescription {
  align-self: stretch;
  gap: var(--gap-17xl);
  flex-shrink: 0;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-helvetica);
}

.logoContainer {
  width: 29.144rem;
  gap: var(--gap-46xl-8);
  min-width: 29.144rem;
}

.successImage,
.vectorIcon1 {
  position: absolute;
  margin: 0 !important;
}

.successImage {
  width: calc(100% + 124.1px);
  height: calc(100% - 124.1px);
  top: 15.95rem;
  right: -7.756rem;
  bottom: -8.194rem;
  left: 0;
  border-radius: 251.18px;
  background: linear-gradient(97.28deg, #ff8e37, #f05306),
    linear-gradient(90deg, #2c18e5, #5442f4 46.88%, #5442f5);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.vectorIcon1 {
  height: 6.188rem;
  width: calc(100% - 24.4px);
  right: 0.794rem;
  bottom: -0.425rem;
  left: 0.731rem;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}

.frameChild {
  height: 5.925rem;
  width: 5.919rem;
  position: relative;
  flex-shrink: 0;

  z-index: 3;
}

.descriptionWrapper,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.vectorParent {
  flex: 1;
  justify-content: flex-start;
  position: relative;
}

.descriptionWrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 var(--padding-7xs);
}

.aiEnablesBusiness,
.success {
  margin: 0;
}

.aiEnablesBusinessContainer {
  height: 1.938rem;
  position: relative;
  line-height: 0.942rem;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;

  z-index: 1;
}

.successDescription {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mid-9);
}

.benefitImages {
  height: 0.25rem;
  flex: 1;
  position: relative;
  border-radius: 50.24px;
  background-color: var(--color-navajowhite);
  z-index: 1;
}

.benefitCardItems {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs);
}

.benefitBackground,
.benefitCardItemsChild {
  height: 0.25rem;
  position: relative;
  border-radius: 50.24px;
  background-color: var(--color-navajowhite);
  z-index: 1;
}

.benefitBackground {
  align-self: stretch;
}

.benefitCardItemsChild {
  flex: 1;
}

.benefitCardItems1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xs) 0 var(--padding-smi);
}

.benefitCards {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs-1);
}

.businessBenefits {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 0 var(--padding-4xs);
}

.successContent,
.successImageParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.successImageParent {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-8xl) var(--padding-smi) var(--padding-11xl-2);
  position: relative;
  gap: var(--gap-11xl-2);
  flex-shrink: 0;

  z-index: 2;
}

.successContent {
  height: 22.375rem;
  width: 8.194rem;
  align-items: flex-start;
}

.frameItem {
  height: 34.063rem;
  width: 30.188rem;
  position: relative;
  border-radius: var(--br-15xl);
  object-fit: cover;
  display: none;
  max-width: 100%;
}

.frameInner {
  height: 7.856rem;
  width: 7.419rem;
  position: relative;
  z-index: 1;
}

.rectangleParent {
  flex: 1;
  border-radius: var(--br-15xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-55xl-2) var(--padding-69xl) var(--padding-55xl);
  box-sizing: border-box;
  background-image: url(/rectangle-700@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 19.625rem;
  min-height: 34.063rem;
  flex-shrink: 0;

  max-width: 100%;
  margin-left: -2.319rem;
}

.businessSuccess,
.consultancyLogo,
.successContainer {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}

.successContainer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  row-gap: 20px;
}

.businessSuccess,
.consultancyLogo {
  align-items: flex-start;
}

.businessSuccess {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-sm-8) 0 0;
  box-sizing: border-box;
  min-width: 23.438rem;
  text-align: center;
  font-size: var(--font-size-xs-1);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}

.consultancyLogo {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-132xl);
}

.whatValueHas {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 3.438rem;
  font-weight: 400;
  font-family: inherit;
  z-index: 3;
}

.consultancyHeading,
.valueHeading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.valueHeading {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-helvetica);
}

.consultancyHeading {
  width: 74.644rem;
  flex-direction: column;
  gap: var(--gap-80xl);
}

.child {
  height: 7.456rem;
  width: 20.4rem;
  position: relative;
  border-radius: 69.47px;
  background-color: var(--color-gray-400);
  display: none;
  max-width: 100%;
}

.vectorIcon2 {
  width: 2.925rem;
  height: 2.919rem;
  position: relative;
  z-index: 4;
}

.vectorContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-4) 0 0;
}

.intelligentDecisionMaking {
  flex: 1;
  position: relative;
  line-height: 1.563rem;
  display: inline-block;
  min-width: 8.625rem;
  z-index: 1;
}

.div {
  width: 20.4rem;
  border-radius: 69.47px;
  background-color: var(--color-gray-400);
  flex-direction: row;
  padding: var(--padding-15xl-3) var(--padding-mid) var(--padding-15xl) var(--padding-15xl);
  box-sizing: border-box;
  gap: var(--gap-base-2);
  z-index: 3;
}

.consultancyTitle,
.div,
.valueBenefits {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.valueBenefits {
  width: 66.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl-5);
  font-size: var(--font-size-3xl-9);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}

.consultancyTitle {
  position: absolute;
  top: 0;
  left: 1.25rem;
  border-radius: 52.42px;
  background-color: var(--color-black);
  width: 87.313rem;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-90xl-2) var(--padding-56xl) var(--padding-63xl-8);
  box-sizing: border-box;
  gap: var(--gap-17xl-9);
}

.intelligentDecisionMaking1 {
  position: absolute;
  top: 2.15rem;
  left: 6.025rem;
  line-height: 1.563rem;
  display: inline-block;
  width: 13.3rem;
  z-index: 4;
}

.iconBackgroundShape {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 69.47px;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  z-index: 3;
}

.vectorIcon3 {
  position: absolute;
  top: 2.294rem;
  left: 2.15rem;
  width: 2.925rem;
  height: 2.919rem;
  z-index: 4;
}

.decisionIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20.4rem;
}

.decisionMaking {
  position: absolute;
  top: 53.313rem;
  left: 73.625rem;
  width: 18.563rem;
  height: 7.456rem;
  font-size: var(--font-size-3xl-9);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}

.consultancyContent {
  height: 66.313rem;
  width: 92.188rem;
  position: relative;
  max-width: 100%;
}

.consultancy {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-127xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-orangered-200);
  font-family: var(--font-inter);
}

@media screen and (max-width: 1300px) {
  .logoContainer {
    flex: 1;
  }

  .consultancyLogo {
    flex-wrap: wrap;
  }

  .consultancyContent {
    height: auto;
    min-height: 1061;
  }

  .consultancy {
    padding-bottom: var(--padding-76xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 800px) {

  .consultancyTitle {
    position: relative;
    top: 0;
    left: 0rem;
    border-radius: 52.42px;
    background-color: var(--color-black);
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-90xl-2) var(--padding-56xl) var(--padding-63xl-8);
    box-sizing: border-box;
    gap: var(--gap-17xl-9);
  }

  .strategicItConsultancyContainer {
    font-size: var(--font-size-19xl);
    line-height: 2.75rem;
  }

  .logoContainer {
    min-width: 100%;
  }

  .rectangleParent {
    min-height: auto;
  }

  .successContainer {
    flex-wrap: wrap;
  }

  .businessSuccess {
    min-width: 100%;
  }

  .whatValueHas {
    font-size: var(--font-size-19xl);
    line-height: 2.75rem;
  }

  .consultancy {
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {

  .descriptionContent {
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;
  }
  .logoContainer {
    width: 29.144rem;
    gap: 0;
    min-width: 29.144rem;
  }

  .consultancyTitle {
    position: relative;
    top: 0;
    left: 0rem;
    border-radius: 15px;
    background-color: var(--color-black);
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    gap: var(--gap-17xl-9);
  }

  .consultancyDescription,
  .logoContainer {
    flex-direction: column;
    max-width: 90%;
  }

  .consultancyLogo {
    align-self: stretch;
    /* flex-direction: row; */
    gap: 0;
  }

  .successContent {
    height: 0rem;
    width: 8.194rem;
    align-items: flex-start;
  }

  .successImageParent {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
  }

  .strategicItConsultancyContainer {
    font-size: var(--font-size-10xl);
    line-height: 2.063rem;
  }

  .rectangleParent {
    margin-left: 0;
  }

  .whatValueHas {
    font-size: var(--font-size-10xl);
    line-height: 2.063rem;
  }

  .intelligentDecisionMaking {
    font-size: var(--font-size-lg);
    line-height: 1.25rem;
  }

  .div {
    flex-wrap: wrap;
  }

  .intelligentDecisionMaking1 {
    font-size: var(--font-size-lg);
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 380px) {
  
  .consultancyDescription,
  .logoContainer {
    flex-direction: column;
    max-width: 70%;
  }
}