.emergingServicesContentChild {
  width: 94.5rem;
  height: 72rem;
  position: relative;
  background-color: var(--color-whitesmoke-500);
  display: none;
  max-width: 100%;
}
.ourEmergingServices {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 3rem;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.seamlessIntegrationFor {
  flex: 1;
  position: relative;
  line-height: 1.688rem;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.emergingDescription,
.emergingServicesHeading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.emergingDescription {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-22xl);
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  color: var(--color-lightslategray-100);
  font-family: var(--font-sora);
}
.emergingServicesHeading {
  width: 63.875rem;
  flex-direction: column;
  gap: var(--gap-14xl);
}
.emergingServicesTitle,
.frameChild {
  box-sizing: border-box;
  max-width: 100%;
}
.emergingServicesTitle {
  width: 77.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
}
.frameChild {
  width: 24.638rem;
  height: 22.588rem;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 0.8px solid var(--color-gainsboro-200);
  display: none;
}
.frameItem {
  width: 4.213rem;
  height: 4.213rem;
  position: relative;
  z-index: 1;
}
.strategicAdvisory1 {
  margin: 0;
}
.strategicAdvisory {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 3rem;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.optimizeOperationalEfficienc {
  align-self: stretch;
  position: relative;
  line-height: 1.339rem;
  z-index: 1;
}
.learnMore {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 0.813rem;
  font-weight: 600;
  color: var(--color-orangered-200);
  display: inline-block;
  min-width: 4.125rem;
  white-space: nowrap;
  z-index: 1;
}
.optimizeOperationalEfficiencParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-8);
  max-width: 100%;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-base-7);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
.frameContainer,
.frameWrapper,
.strategicAdvisoryParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.strategicAdvisoryParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs-2);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-10xs);
  box-sizing: border-box;
}
.frameInner,
.rectangleParent {
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 0.8px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  width: 24.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-15xl)
    var(--padding-2xl);
  gap: var(--gap-17xl-7);
  z-index: 1;
}
.frameInner {
  width: 24.638rem;
  height: 22.588rem;
  position: relative;
  display: none;
}
.ellipseIcon {
  width: 4.213rem;
  height: 4.213rem;
  position: relative;
  z-index: 1;
}
.itInfrastructure {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 3rem;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.itInfrastructureWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.redefineTheFuture {
  align-self: stretch;
  position: relative;
  line-height: 150.5%;
  z-index: 1;
}
.learnMore1 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 0.813rem;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-orangered-200);
  display: inline-block;
  min-width: 4.125rem;
  white-space: nowrap;
  z-index: 1;
}
.redefineContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-8);
  max-width: 100%;
}
.redefineContentWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-7xs);
  box-sizing: border-box;
  font-size: var(--font-size-base-2);
  color: var(--color-gray-300);
  font-family: var(--font-mulish);
}
.rectangleGroup,
.redefineContentWrapper,
.servicesCloud {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleGroup {
  width: 24.625rem;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 0.8px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-15xl)
    var(--padding-2xl);
  gap: var(--gap-24xl);
  z-index: 1;
}

.rectangleGroup:hover {
  width: 24.625rem;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 0.8px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-15xl)
    var(--padding-2xl);
  gap: var(--gap-24xl);
  z-index: 1;
  border: unset;
  padding: var(--padding-3xl-7) var(--padding-2xl) var(--padding-16xl-6) var(--padding-3xl);
  box-shadow: rgba(24, 39, 75, 0.12) 0px 43.3px 97.35px -32.45px, rgba(24, 39, 75, 0.12) 0px 64.9px 227.14px -21.63px;
  cursor: pointer;
}

.servicesCloud {
  width: 77.513rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.537rem 1.675rem;
  min-height: 47.313rem;
  text-align: left;
  font-size: var(--font-size-19xl);
}
.emergingServices,
.emergingServicesContent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.emergingServicesContent {
  flex: 1;
  background-color: var(--color-whitesmoke-500);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-53xl) var(--padding-xl) var(--padding-122xl-6)
    var(--padding-28xl);
  gap: var(--gap-54xl);
}
.emergingServices {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-80xl);
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-helvetica);
}
@media screen and (max-width: 1300px) {
  .emergingServicesContent {
    padding-left: var(--padding-4xl);
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-73xl);
    box-sizing: border-box;
  }
  .emergingServices {
    padding-bottom: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .ourEmergingServices {
    font-size: var(--font-size-19xl);
    line-height: 2.375rem;
  }
  .emergingServicesHeading {
    gap: var(--gap-base);
  }
  .itInfrastructure,
  .strategicAdvisory {
    font-size: var(--font-size-11xl);
    line-height: 2.375rem;
  }
  .emergingServicesContent {
    gap: var(--gap-17xl);
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
  .emergingServices {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ourEmergingServices,
  .strategicAdvisory {
    font-size: var(--font-size-10xl);
    line-height: 1.813rem;
  }
  .strategicAdvisory {
    font-size: var(--font-size-4xl);
  }
  .rectangleParent {
    gap: var(--gap-lg);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .itInfrastructure {
    font-size: var(--font-size-4xl);
    line-height: 1.813rem;
  }
  .rectangleGroup {
    gap: var(--gap-2xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .emergingServicesContent {
    gap: var(--gap-lg);
  }
}
