.availableProducts {
  flex: 1;
  position: relative;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.section,
.sectionWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.section {
  width: 10.063rem;
  border-radius: var(--br-981xl);
  background-color: var(--color-whitesmoke-200);
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-2xs) var(--padding-7xs) var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}

.sectionWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}

.sectionSetUp {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 3rem;
  font-weight: 400;
  font-family: var(--font-helvetica);
}

.availableProductsLabel,
.productsTitle {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.availableProductsLabel {
  width: 63.5rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}

.productsTitle {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}

.divcPjlv {
  width: 20rem;
  height: 1.875rem;
  position: relative;
  display: none;
  z-index: 0;
}

.healthIcon {
  width: 100%;
  height: 8.438rem;
  position: absolute;
  margin: 0 !important;
  top: -0.125rem;
  right: 0;
  left: 0;
  /* backdrop-filter: blur(58.12px);
  border-radius: var(--br-9xl) var(--br-9xl) 0 0;
  background: linear-gradient(
    107.46deg,
    rgba(255, 255, 255, 0),
    rgba(236, 236, 236, 0.01)
  ); */
  z-index: 1;
}

.cloudServices,
.groupIcon {
  position: relative;
  z-index: 2;
}

.cloudServices {
  margin: 0;
  font-size: inherit;
  line-height: 1.875rem;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 49%;
}

.groupIcon {
  width: 9.013rem;
  height: 1.125rem;
  object-fit: contain;
  max-width: 44%;
}

.sectionLinkHealthInsura {
  border-radius: var(--br-3xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-32xl) var(--padding-xl) var(--padding-370xl) var(--padding-12xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs);
  background-image: url(/section--link--health-insurance-health-dental-and-vision-from-local-and-global-providers@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  cursor: pointer;
  height: 32rem;
}

.sectionLinkHealthInsura:hover {
  border-radius: var(--br-3xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-32xl) var(--padding-xl) var(--padding-370xl) var(--padding-12xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs);
  background-image: url(/section--link--health-insurance-health-dental-and-vision-from-local-and-global-providers@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  cursor: pointer;
  height: 32rem;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1);
  transform: scale(1.1);
}

.freepikExport20240514221652yIcon {
  position: absolute;
  top: 8.375rem;
  left: 2.25rem;
  width: 19.75rem;
  height: 27.188rem;
  object-fit: contain;
}

.divcPjlv1,
.pcGvnpxb {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 20rem;
  height: 1.875rem;
  display: none;
}

.pcGvnpxb {
  top: 4.625rem;
  height: 3rem;
}

.pensionLifeIcons {
  position: absolute;
  top: 0;
  left: 0;
  /* backdrop-filter: blur(58.12px);
  border-radius: var(--br-9xl) var(--br-9xl) 0 0;
  background: linear-gradient(
    107.46deg,
    rgba(255, 255, 255, 0),
    rgba(236, 236, 236, 0.01)
  ); */
  width: 100%;
  height: 100%;
  z-index: 1;
}

.infrastructureSolution {
  margin: 0;
  position: absolute;
  top: 3.063rem;
  left: 2.825rem;
  font-size: inherit;
  line-height: 1.875rem;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
}

.groupIcon1 {
  position: absolute;
  top: 5.688rem;
  left: 2.813rem;
  width: 9.013rem;
  height: 1.125rem;
  object-fit: contain;
  z-index: 2;
}

.divcPjlvParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.438rem;
}

.sectionLinkWorkplacePen {
  height: 31.25rem;
  position: relative;
  border-radius: var(--br-3xl);
  background-color: var(--color-gray-500);
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}

.sectionLinkWorkplacePen:hover {
  height: 31.25rem;
  position: relative;
  border-radius: var(--br-3xl);
  background-color: var(--color-gray-500);
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1);
  transform: scale(1.1);
}

.image104296Icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -0.062rem;
  max-height: 100%;
  object-fit: cover;
}

.divcPjlv2,
.pcGvnpxb1 {
  position: absolute;
  top: 2rem;
  left: 2.063rem;
  width: 20rem;
  height: 1.875rem;
  display: none;
}

.pcGvnpxb1 {
  top: 4.625rem;
  height: 3rem;
}

.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  /* backdrop-filter: blur(20px);
  border-radius: var(--br-9xl) var(--br-9xl) 0 0;
  background: linear-gradient(
    107.46deg,
    rgba(255, 255, 255, 0),
    rgba(236, 236, 236, 0.01)
  ); */
  width: 100%;
  height: 100%;
  z-index: 2;
}

.cybersecurityOfferings {
  margin: 0;
  position: absolute;
  top: 2.938rem;
  left: 2.888rem;
  font-size: inherit;
  line-height: 1.875rem;
  font-weight: 400;
  font-family: inherit;
  z-index: 3;
}

.groupIcon2 {
  position: absolute;
  top: 5.563rem;
  left: 2.875rem;
  width: 9.013rem;
  height: 1.125rem;
  object-fit: contain;
  z-index: 3;
}

.divcPjlvGroup {
  margin-left: -0.063rem;
  height: 8.438rem;
  flex: 1;
  position: relative;
  max-width: 100%;
}

.healthServiceLinks,
.sectionLinkLifeInsuranc {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.hovreffect {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.9s ease 0s;
  overflow-y: auto;
}

.sectionLinkLifeInsuranc {
  border-radius: var(--br-3xl);
  overflow: hidden;
  display: flex;
  padding: 0 0 var(--padding-346xl);
  box-sizing: border-box;
  position: relative;
  background-image: url(/image-104296@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}

.sectionLinkLifeInsuranc:hover {
  border-radius: var(--br-3xl);
  overflow: hidden;
  display: flex;
  padding: 0 0 var(--padding-346xl);
  box-sizing: border-box;
  position: relative;
  background-image: url(/image-104296@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1);
  transform: scale(1.1);
}

.healthServiceLinks {
  align-self: stretch;
  display: grid;
  gap: var(--gap-5xl);
  grid-template-columns: repeat(3, minmax(288px, 1fr));
}

.itStrategy,
.pcGvnpxb2 {
  position: relative;
  max-width: 100%;
}

.pcGvnpxb2 {
  height: 3rem;
  width: 22.5rem;
  display: none;
}

.itStrategy {
  margin: 0;
  width: 24.063rem;
  font-size: inherit;
  line-height: 2.125rem;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}

.formulationAndExecution,
.withAnOrganizations {
  margin: 0;
}

.formulationAndExecutionContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1.75rem;
  font-family: var(--font-inter);
}

.consultingDescription {
  width: 33.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 33.5rem;
  max-width: 100%;
}

.divcPjlv3,
.learnMoreContainerChild {
  height: 12.25rem;
  width: 0.063rem;
  position: relative;
  display: none;
}

.learnMoreContainerChild {
  height: 5rem;
  width: 15.156rem;
  border-radius: 26.67px;
  object-fit: cover;
}

.learnMore,
.vectorIcon {
  position: relative;
  z-index: 1;
}

.learnMore {
  text-decoration: none;
  letter-spacing: 0.04em;
  line-height: 2rem;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 6.938rem;
  white-space: nowrap;
}

.vectorIcon {
  width: 0.375rem;
  height: 0.75rem;
}

.learnMoreITIcon {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}

.learnMoreContainer,
.learnMoreIT,
.learnMoreITIcon {
  display: flex;
  align-items: flex-start;
}

.learnMoreContainer {
  border-radius: 26.67px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-36xl) var(--padding-5xl) var(--padding-37xl);
  gap: var(--gap-sm);
  background-image: url(/rectangle-34628414@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}

.learnMoreIT {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.healthServices,
.productsBenefits,
.section1 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}

.section1 {
  border-radius: var(--br-mid);
  background-color: var(--color-whitesmoke-300);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-59xl) var(--padding-84xl) var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
}

.healthServices,
.productsBenefits {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.healthServices {
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-floralwhite);
  font-family: var(--font-helvetica);
}

.productsBenefits {
  gap: var(--gap-41xl);
}

.growthBackgroundIcon {
  height: 34.125rem;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.securedGrowthBackground {
  width: calc(96% + 42.4px);
  height: calc(100% - 31.4px);
  position: absolute;
  margin: 0 !important;
  top: 8.625rem;
  right: -5.65rem;
  bottom: -5.975rem;
  left: 0;
  border-radius: 183.07px;
  background: linear-gradient(97.28deg, #ff8e37, #f05306),
    linear-gradient(90deg, #2c18e5, #5442f4 46.88%, #5442f5);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}

.vectorIcon1 {
  height: 3.75rem;
  width: 3.55rem;
  position: relative;
  z-index: 2;
}

.growthIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}

.businessGrowth,
.secured {
  margin: 0;
}

.securedBusinessGrowthContainer {
  height: 1.375rem;
  position: relative;
  line-height: 0.686rem;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}

.growthContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs-8);
}

.backgroundShapes {
  height: 0.181rem;
  flex: 1;
  position: relative;
  border-radius: 36.61px;
  background-color: var(--color-navajowhite);
  z-index: 2;
}

.shapeContainers {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
}

.bottomShape,
.shapeContainersChild {
  height: 0.181rem;
  position: relative;
  border-radius: 36.61px;
  background-color: var(--color-navajowhite);
  z-index: 2;
}

.bottomShape {
  align-self: stretch;
}

.shapeContainersChild {
  width: 2.881rem;
}

.shapeContainers1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs);
}

.growthShapes {
  width: 4.025rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs-4);
}

.growthBackgroundParent,
.securedGrowth {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.securedGrowth {
  margin: 0 !important;
  position: absolute;
  top: 10.938rem;
  right: -2.85rem;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-sm) var(--padding-3xl) var(--padding-mini);
  gap: var(--gap-3xl-7);
}

.growthBackgroundParent {
  width: 32.625rem;
  flex-direction: row;
  position: relative;
  min-width: 32.625rem;
  max-width: 100%;
}

.aidit {
  position: relative;
  letter-spacing: 2px;
  line-height: 1.875rem;
  display: inline-block;
  min-width: 3.375rem;
}

.deliveringExcellence,
.transformingFutures1 {
  margin: 0;
}

.transformingFuturesDeliveriContainer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 3.625rem;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}

.transformingFutures {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-helvetica);
}

.welcomeToAidant {
  flex: 1;
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}

.vectorIcon2 {
  height: 4.506rem;
  width: 3.206rem;
  position: absolute;
  margin: 0 !important;
  top: 0.688rem;
  left: -3rem;
  z-index: 1;
}

.welcomeContainer {
  flex: 1;
  flex-direction: row;
  position: relative;
}

.descriptionContent,
.welcomeContainer,
.welcomeContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.welcomeContent {
  width: 31.5rem;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  color: var(--color-gray-200);
}

.descriptionContent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-6xs);
}

.bg {
  height: 3.275rem;
  width: 9.563rem;
  position: relative;
  border-radius: 81.82px;
  background-color: var(--color-whitesmoke-700);
  display: none;
}

.aboutUs,
.vectorIcon3 {
  position: relative;
  z-index: 1;
}

.aboutUs {
  letter-spacing: 0.04em;
  line-height: 1.688rem;
  display: inline-block;
  min-width: 4.563rem;
}

.vectorIcon3 {
  width: 0.256rem;
  height: 0.513rem;
}

.aboutUsIcon {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}

.aboutUsIcon,
.aiditDescription,
.button {
  display: flex;
  align-items: flex-start;
}

.button {
  border-radius: 81.82px;
  background-color: var(--color-whitesmoke-700);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-sm-1) var(--padding-15xl) var(--padding-smi-3);
  gap: var(--gap-5xs-1);
  text-align: center;
  font-size: var(--font-size-sm-1);
  cursor: pointer;
}
.button:hover {
  border-radius: 81.82px;
  background-color:  #ff8e37;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-sm-1) var(--padding-15xl) var(--padding-smi-3);
  gap: var(--gap-5xs-1);
  text-align: center;
  font-size: var(--font-size-sm-1);
  cursor: pointer;
  color: #fff;
  transition: all 0.5s ease 0s;
  transform: scale(1.1);
}

.aiditDescription {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-36xl);
  max-width: 100%;
}

.aboutAidit,
.aiditDescription,
.frameParent {
  justify-content: flex-start;
}

.aboutAidit {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-20xl) 0 0;
  box-sizing: border-box;
  min-width: 23.625rem;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-orangered-200);
  font-family: var(--font-inter);
}

.frameParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-72xl);
  font-size: var(--font-size-4xs-1);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}

.frameParent,
.homeInner,
.productsBenefitsParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.productsBenefitsParent {
  width: 75rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-88xl);
}

.homeInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 4rem var(--padding-xl) var(--padding-146xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}

@media screen and (max-width: 1300px) {
  .section1 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-32xl);
    box-sizing: border-box;
  }

  .productsBenefits {
    gap: var(--gap-11xl);
  }

  .frameParent {
    gap: var(--gap-26xl);
  }

  .productsBenefitsParent {
    gap: var(--gap-34xl);
  }

  .homeInner {
    padding-bottom: var(--padding-88xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1100px) {
  .healthServiceLinks {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(288px, 499px));
  }

  .consultingDescription {
    flex: 1;
  }

  .section1 {
    flex-wrap: wrap;
  }

  .growthBackgroundIcon,
  .growthBackgroundParent {
    flex: 1;
  }

  .frameParent {
    flex-wrap: wrap;
  }

  .homeInner {
    padding-bottom: var(--padding-51xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 800px) {
  .sectionSetUp {
    font-size: var(--font-size-19xl);
    line-height: 2.375rem;
  }

  .sectionLinkHealthInsura {
    /* padding-top: var(--padding-14xl);
    padding-bottom: var(--padding-234xl); */
    box-sizing: border-box;
  }

  .sectionLinkLifeInsuranc {
    padding-bottom: var(--padding-218xl);
    box-sizing: border-box;
  }

  .healthServiceLinks {
    grid-template-columns: minmax(288px, 1fr);
  }

  .itStrategy {
    font-size: var(--font-size-7xl);
    line-height: 1.688rem;
  }

  .consultingDescription {
    min-width: 100%;
  }

  .section1 {
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }

  .healthServices {
    gap: var(--gap-base);
  }

  .growthBackgroundParent {
    min-width: 100%;
  }

  .transformingFuturesDeliveriContainer {
    font-size: var(--font-size-19xl);
    line-height: 2.875rem;
  }

  .aiditDescription {
    gap: var(--gap-8xl);
  }

  .frameParent {
    gap: var(--gap-4xl);
  }

  .productsBenefitsParent {
    gap: var(--gap-8xl);
  }
}

@media screen and (max-width: 450px) {
  .securedGrowth {
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sectionSetUp {
    font-size: var(--font-size-10xl);
    line-height: 1.813rem;
  }

  .cloudServices,
  .cybersecurityOfferings,
  .infrastructureSolution,
  .itStrategy {
    font-size: var(--font-size-lgi);
    line-height: 1.5rem;
  }

  .itStrategy {
    line-height: 1.25rem;
  }

  .transformingFuturesDeliveriContainer {
    font-size: var(--font-size-10xl);
    line-height: 2.188rem;
  }

  .aboutAidit {
    min-width: 100%;
  }

  .homeInner {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
}