.frameChild {
  width: 24.638rem;
  height: 22.588rem;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 0.8px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.cloudService,
.frameItem {
  position: relative;
  z-index: 1;
}
.frameItem {
  width: 4.213rem;
  height: 4.213rem;
}
.cloudService {
  margin: 0;
  font-size: inherit;
  line-height: 3rem;
  font-weight: 400;
  font-family: inherit;
}
.scalableBusinessCentricSol {
  align-self: stretch;
  position: relative;
  line-height: 1.339rem;
  z-index: 1;
}
.learnMore {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 0.813rem;
  font-weight: 600;
  color: var(--color-orangered-200);
  display: inline-block;
  min-width: 4.125rem;
  white-space: nowrap;
  z-index: 1;
}
.serviceDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl-8);
  max-width: 100%;
}
.cardDescriptions {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-base-7);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
.cardContent,
.cardDescriptions,
.rectangleParent,
.serviceCardItems {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.serviceCardItems {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-29xl-2);
}
.cardContent,
.rectangleParent {
  box-sizing: border-box;
}
.cardContent {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-10xs);
}
.rectangleParent {
  width: 24.625rem;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 0.8px solid var(--color-gainsboro-200);
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-15xl)
    var(--padding-2xl);
  gap: var(--gap-18xl-7);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-helvetica);
}

.rectangleParent:hover {
  width: 24.625rem;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 0.8px solid var(--color-gainsboro-200);
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-15xl)
    var(--padding-2xl);
  gap: var(--gap-18xl-7);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-helvetica);
  border: unset;
  padding: var(--padding-3xl-7) var(--padding-2xl) var(--padding-16xl-6) var(--padding-3xl);
  box-shadow: rgba(24, 39, 75, 0.12) 0px 43.3px 97.35px -32.45px, rgba(24, 39, 75, 0.12) 0px 64.9px 227.14px -21.63px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .cloudService {
    font-size: var(--font-size-11xl);
    line-height: 2.375rem;
  }
}
@media screen and (max-width: 450px) {
  .cloudService {
    font-size: var(--font-size-4xl);
    line-height: 1.813rem;
  }
  .serviceCardItems {
    gap: var(--gap-5xl);
  }
  .rectangleParent {
    gap: var(--gap-lgi);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
}
