.frameChild {
  height: 5.75rem;
  width: 94.688rem;
  position: relative;
  background: linear-gradient(180deg, #fff, #edf0f2);
  display: none;
  max-width: 100%;
}

.aidit {
  margin-bottom: -0.288rem;
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 3.1rem;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;

  white-space: nowrap;
  z-index: 3;
}

.heroTitle {
  align-self: stretch;
  height: 2.813rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}

.taglineChange {
  text-decoration: none;
  width: 8.356rem;
  position: relative;
  font-size: var(--font-size-4xs-7);
  line-height: 0.625rem;
  text-transform: uppercase;
  font-family: var(--font-sora);
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  white-space: nowrap;
  z-index: 4;
}

.heroContent {
  width: 21.569rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-188xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: var(--font-yeseva-one);
  cursor: pointer;
}

.itemButton {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.22px;
  line-height: 0.625rem;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 2.938rem;
  z-index: 1;
}

.navigationProducts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs) 0 var(--padding-4xs);
}

.solutionsLink {
  align-self: stretch;
  height: 0.25rem;
  position: relative;
  backdrop-filter: blur(4px);
  border-radius: var(--br-25xl-5);
  background: linear-gradient(#f05306, #f05306), rgba(48, 48, 54, 0.3);
  border: 2px solid var(--color-gray-900);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}

.solutionsLinkactive {
  align-self: stretch;
  height: 0;
  position: relative;
  backdrop-filter: blur(4px);
  border-radius: var(--br-25xl-5);
  background: none;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}

/* .heroNavigation, */
.navigationMenu {
  display: flex;
  flex-direction: column;
}

.heroNavigation {
  display: flex;
  flex-direction: row;
}

.navigationMenu {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs-7);
}

.heroNavigation {
  width: 3.938rem;
  align-items: flex-start;
  justify-content: center;
  padding: 18px 0 var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  gap: 1rem;
  /* color: var(--color-orangered-200); */
}

.linkstyle{
  color: var(--color-orangered-200);
  text-decoration: none;
  font-size: var(--font-size-sm);
}

.linkstyleactive{
  color: #000000;
  text-decoration: none;
  font-size: var(--font-size-sm);
}


.itemButton1 {
  text-decoration: none;
  height: 0.625rem;
  position: relative;
  letter-spacing: 0.22px;
  line-height: 1.629rem;
  text-transform: uppercase;
  font-weight: 300;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.313rem;
  z-index: 1;
}

.solutionDeveloperLabels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}

.itemButton2 {
  text-decoration: none;
  height: 0.625rem;
  position: relative;
  letter-spacing: 0.22px;
  line-height: 1.629rem;
  text-transform: uppercase;
  font-weight: 300;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4.563rem;
  z-index: 1;
}

.solutionDeveloperLabels1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}

.itemButton3,
.itemButton4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.22px;
  text-transform: uppercase;
  font-weight: 300;
  color: inherit;
}

.itemButton3 {
  height: 0.625rem;
  line-height: 1.629rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5.75rem;
  z-index: 1;
}

.itemButton4 {
  line-height: 1.688rem;
  display: inline-block;
  min-width: 3.063rem;
  z-index: 3;
}

.developerResources,
.solutionDevelopers {
  margin: 0;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.solutionDevelopers {
  width: 26.944rem;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-sora);
}

.developerResources {
  width: 36.013rem;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}

.itemButton5 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 1.54rem;
  color: inherit;
  text-shadow: 5px 5px 10px rgba(250, 250, 250, 0.21);
  backdrop-filter: blur(19.8px);
  -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.5);
}

.resourceButtonContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-8) 0 0;
}

.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(97.28deg, #ff8e37, #f05306),
    linear-gradient(90deg, #2c18e5, #5442f4 46.88%, #5442f5);
  width: 100%;
  height: 100%;
}

.groupIcon {
  position: absolute;
  top: 0.669rem;
  left: 0.65rem;
  width: 0.925rem;
  height: 0.875rem;
  z-index: 1;
}

.ellipseParent {
  height: 2.156rem;
  width: 2.156rem;
  position: relative;
}

.resourceButton {
  align-self: stretch;
  backdrop-filter: blur(4px);
  border-radius: var(--br-25xl-5);
  background: linear-gradient(#ececec, #ececec), rgba(48, 48, 54, 0.3);
  border: 2px solid var(--color-gray-900);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-8) var(--padding-12xs) var(--padding-11xs-9) var(--padding-mini);
  gap: var(--gap-8xs-9);
  z-index: 1;
  cursor: pointer;
}

.resourceButtonWrapper {
  width: 8.225rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs-3);
  box-sizing: border-box;
  font-size: var(--font-size-mini-9);
  color: var(--color-gray-800);
  cursor: pointer;
}

.main,
.rectangleParent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}

.rectangleParent {
  flex: 1;
  background: linear-gradient(180deg, #fff, #edf0f2);
  /* align-items: flex-end; */
  justify-content: center;
  padding: 0.5rem 1rem;
  gap: var(--gap-29xl-9);
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  position: fixed;
  text-align: center;
  font-size: 28px;
  color: var(--color-gray-700);
  font-family: var(--font-sora);
}

.main {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 0 0 var(--padding-70xl); */
}

.flenone {
  display: block;
  width: 100%;
}

.dnonenav {
  display: none;
}

.navpostion {
  background-color: #E0F2FE;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  right: 0;
  position: absolute;
  padding: 1rem 0rem;
}

.rectangle_parent10 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  color: var(--color-gray-1500);
}

.link_about_us_parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}

@media screen and (max-width: 1300px) {
  .rectangleParent {
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1100px) {
  .developerResources {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .navigationProducts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0;
  }

  .heroNavigation {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 0 var(--padding-xs);
    box-sizing: border-box;
    font-size: var(--font-size-sm);
    /* color: var(--color-orangered-200); */
  }

  .flenone {
    display: none;
  }

  .dnonenav {
    display: block;
  }

  .rectangleParent {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 100%;
    flex: 1;
    background: linear-gradient(180deg, #fff, #edf0f2);
    /* align-items: flex-end; */
    justify-content: space-between;
    /* padding: var(--padding-base) var(--padding-xl) var(--padding-base) var(--padding-23xl); */
    top: 0;
    z-index: 99;
    position: fixed;
    text-align: center;
    /* font-size: var(--font-size-23xl-6); */
    color: var(--color-gray-700);
    font-family: var(--font-sora);
    width: 100%;
  }

  .navpostion {
    background-color: #E0F2FE;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
    position: absolute;
    padding: 1rem 0rem;
  }



  .rectangleParent {
    gap: var(--gap-5xl);
  }
}

@media screen and (max-width: 450px) {
  .heroContent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}