.december052021,
.minRead {
  position: relative;
  line-height: 1.625rem;
  text-transform: capitalize;
}
.minRead {
  display: inline-block;
  min-width: 5.563rem;
}
.contentHeader,
.line,
.lineWrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.contentHeader {
  width: 23.131rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-6xs-1);
  gap: var(--gap-xl);
}
.line,
.lineWrapper {
  align-self: stretch;
}
.line {
  flex: 1;
  position: relative;
  border-top: 0.9px solid var(--color-gainsboro-200);
}
.lineWrapper {
  height: 0.056rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.detailedInsightsFor,
.socialMedia {
  margin: 0;
}
.detailedInsightsForContainer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.previewTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs-6);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-7xl);
  color: var(--color-darkslategray-300);
}
.loremIpsumIs,
.viewMore {
  position: relative;
  display: inline-block;
}
.loremIpsumIs {
  align-self: stretch;
  height: 5.256rem;
  line-height: 150.5%;
  flex-shrink: 0;
}
.viewMore {
  line-height: 145.5%;
  color: var(--color-orangered-100);
  min-width: 5.375rem;
  cursor: pointer;
}
.cardContent,
.newsCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cardContent {
  align-self: stretch;
  gap: var(--gap-mini-7);
  flex-shrink: 0;
  
  font-size: var(--font-size-mid-3);
  color: var(--color-gray-300);
  font-family: var(--font-helvetica);
}
.newsCard {
  gap: var(--gap-4xl-4);
}
.background {
  height: 20.044rem;
  width: 23.506rem;
  position: relative;
  border-radius: 17.33px;
  background-color: var(--color-silver);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.imageIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.analyze {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 3.688rem;
}
.tag {
  box-shadow: 0 8.7px 10.4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl-8);
  background-color: var(--color-whitesmoke-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi-1) var(--padding-11xl) var(--padding-smi);
  z-index: 2;
  cursor: pointer;
}
.image,
.newsCard1,
.newsCard2,
.newsGrid {
  justify-content: flex-start;
  max-width: 100%;
}
.image {
  align-self: stretch;
  height: 20.044rem;
  border-radius: 17.33px;
  background-color: var(--color-silver);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-mid) var(--padding-lgi) var(--padding-mid-3);
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  
}
.newsCard1,
.newsCard2,
.newsGrid {
  align-items: flex-start;
}
.newsCard1,
.newsCard2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4xl-4);
}
.newsGrid {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: var(--gap-21xl-7);
  grid-template-columns: repeat(3, minmax(283px, 1fr));
  text-align: left;
  font-size: var(--font-size-base-6);
  color: var(--color-darkslategray-300);
  font-family: var(--font-mulish);
}
@media screen and (max-width: 1100px) {
  .newsGrid {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(283px, 491px));
  }
}
@media screen and (max-width: 800px) {
  .newsGrid {
    gap: var(--gap-xl);
    grid-template-columns: minmax(283px, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .contentHeader {
    flex-wrap: wrap;
  }
  .detailedInsightsForContainer {
    font-size: var(--font-size-2xl);
    line-height: 1.563rem;
  }
}
