.homepageBannerIcon {
  width: 96.75rem;
  height: 47rem;
  position: absolute;
  margin: 0 !important;
  top: 3.813rem;
  left: calc(50% - 760px);
  object-fit: cover;
}
.bg,
.homeChild,
.homeItem {
  position: relative;
  display: none;
}
.homeChild {
  align-self: stretch;
  height: 6.25rem;
  z-index: 1;
}
.bg,
.homeItem {
  box-sizing: border-box;
}
.homeItem {
  width: 75rem;
  height: 36.125rem;
  backdrop-filter: blur(70px);
  border-radius: var(--br-11xl);
  border: 7px solid transparent;
  max-width: 100%;
  z-index: 2;
}
.bg {
  height: 3.275rem;
  width: 9.563rem;
  border-radius: 81.82px;
  border: 2px solid var(--color-darkorange);
}
.services,
.vectorIcon {
  position: relative;
  z-index: 7;
}
.services {
  letter-spacing: 0.04em;
  line-height: 1.688rem;
  display: inline-block;
  min-width: 4.375rem;
}
.vectorIcon {
  width: 0.256rem;
  height: 0.513rem;
}
.button,
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.button {
  width: 9.563rem;
  height: 3rem;
  margin: 0 !important;
  position: absolute;
  bottom: 238.225rem;
  left: 8.313rem;
  top: 51.4%;
  border-radius: 81.82px;
  border: 2px solid var(--color-darkorange);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-12xl) var(--padding-3xs)
    var(--padding-17xl);
  gap: 0.506rem;
  z-index: 6;
  cursor: pointer;
}
.homeInner {
  width: 4.313rem;
  height: 10.375rem;
  position: relative;
  background-color: var(--color-white);
  display: none;
  z-index: 11;
}
.titleAndDescription {
  width: 13.5rem;
  height: 2.938rem;
  display: none;
  z-index: 12;
}
// .representationUserExperienceIcon {
//   width: 59.8rem;
//   height: 28.363rem;
//   position: absolute;
//   margin: 0 !important;
//   right: 0rem;
//   /* left: 0; */
//   bottom: 45.106rem;
//   object-fit: cover;
// }
.newsContainer {
  width: 75.944rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2.331rem;
  max-width: 100%;
}

.home,
.newsContainerWrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.newsContainerWrapper {
  width: 91.444rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 6.875rem;
  max-width: 100%;
  flex-shrink: 0;
}

.home {
  flex-direction: column;
  justify-content: flex-start;
}

.home {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 0;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-sm-1);
  color: var(--color-orangered-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1100px) {
  .newsContainerWrapper {
    padding-bottom: 4.438rem;
    box-sizing: border-box;
  }
  .home {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .homepageBannerIcon {
    width: 96.75rem;
    height: 44rem;
    position: absolute;
    margin: 0 !important;
    top: 4.813rem;
    left: calc(50% - 760px);
    object-fit: cover;
  }
  .newsContainer {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .newsContainerWrapper {
    padding-bottom: 2.875rem;
    box-sizing: border-box;
  }
}
