@import url("https://fonts.googleapis.com/css2?family=Yeseva+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Brands:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-font-awesome-5-brands: "Font Awesome 5 Brands";
  --font-dm-sans: "DM Sans";
  --font-sora: Sora;
  --font-inter: Inter;
  --font-helvetica: Helvetica;
  --font-mulish: Mulish;
  --font-source-sans-pro: "Source Sans Pro";
  --font-open-sans: "Open Sans";
  --font-manrope: Manrope;
  --font-space-grotesk: "Space Grotesk";
  --font-raleway: Raleway;
  --font-yeseva-one: "Yeseva One";

  /* font sizes */
  --font-size-5xl-1: 1.506rem;
  --font-size-lgi: 1.188rem;
  --font-size-lg-9: 1.181rem;
  --font-size-mid-2: 1.075rem;
  --font-size-5xl: 1.5rem;
  --font-size-sm-2: 0.825rem;
  --font-size-smi: 0.813rem;
  --font-size-32xl-5: 3.219rem;
  --font-size-12xl: 1.938rem;
  --font-size-22xl: 2.563rem;
  --font-size-25xl-8: 2.8rem;
  --font-size-8xl: 1.688rem;
  --font-size-17xl: 2.25rem;
  --font-size-xs-1: 0.694rem;
  --font-size-mid-3: 1.081rem;
  --font-size-7xl: 1.625rem;
  --font-size-2xl: 1.313rem;
  --font-size-base-6: 0.975rem;
  --font-size-mid-9: 1.119rem;
  --font-size-29xl: 3rem;
  --font-size-10xl: 1.813rem;
  --font-size-19xl: 2.375rem;
  --font-size-base: 1rem;
  --font-size-3xs: 0.625rem;
  --font-size-sm-8: 0.863rem;
  --font-size-xs: 0.75rem;
  --font-size-9xl: 1.75rem;
  --font-size-3xl: 1.375rem;
  --font-size-sm-1: 0.819rem;
  --font-size-3xl-9: 1.431rem;
  --font-size-lg: 1.125rem;
  --font-size-base-7: 0.981rem;
  --font-size-4xl: 1.438rem;
  --font-size-11xl: 1.875rem;
  --font-size-base-2: 1.013rem;
  --font-size-lg-8: 1.175rem;
  --font-size-28xl: 2.938rem;
  --font-size-4xs-1: 0.506rem;
  --font-size-13xl: 2rem;
  --font-size-4xl-1: 1.444rem;
  --font-size-31xl: 3.125rem;
  --font-size-21xl: 2.5rem;
  --font-size-mini-9: 0.931rem;
  --font-size-sm: 0.875rem;
  --font-size-4xs-7: 0.544rem;
  --font-size-23xl-6: 2.663rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #fcfcff;
  --color-gray-200: #939497;
  --color-gray-300: #808080;
  --color-gray-400: #1f2123;
  --gray-900: #061c3d;
  --color-gray-500: #11191b;
  --color-gray-600: #0d0e25;
  --color-gray-700: #040f2d;
  --color-gray-800: #040e2e;
  --color-gray-900: rgba(255, 255, 255, 0.2);
  --color-gray-1000: rgba(4, 13, 31, 0.17);
  --color-gray-1100: rgba(255, 255, 255, 0.88);
  --color-gray-1200: rgba(255, 255, 255, 0.79);
  --color-gray-1300: rgba(13, 14, 37, 0.6);
  --gray-700: #42526b;
  --color-darkslategray-100: #353539;
  --color-darkslategray-200: #333;
  --color-darkslategray-300: #2f2f2f;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #dcdcdc;
  --color-darkorange: #ff8e37;
  --color-whitesmoke-100: #f6f9fc;
  --color-whitesmoke-200: #f7f7f7;
  --color-whitesmoke-300: #f5f7f8;
  --color-whitesmoke-400: #f6f6f6;
  --color-whitesmoke-500: #f2f4f5;
  --color-whitesmoke-600: #f1f1f1;
  --color-whitesmoke-700: #f0f0f0;
  --color-orangered-100: #ff6b0a;
  --color-orangered-200: #f05306;
  --color-silver: #c4c4c4;
  --color-black: #000;
  --color-darkgray: #a3a3a3;
  --color-navajowhite: #ffd6a8;
  --color-dimgray: #6e6e6e;
  --color-lightslategray-100: #8b949d;
  --color-lightslategray-200: rgba(120, 144, 167, 0.2);
  --color-floralwhite: #fbfaf2;
  --color-burlywood: rgba(255, 196, 154, 0.2);

  /* Gaps */
  --gap-17xl-8: 2.3rem;
  --gap-lg: 1.125rem;
  --gap-xl: 1.25rem;
  --gap-49xl-8: 4.3rem;
  --gap-15xl: 2.125rem;
  --gap-5xl: 1.5rem;
  --gap-2xl-4: 1.337rem;
  --gap-29xl: 3rem;
  --gap-base-4: 1.025rem;
  --gap-35xl-6: 3.412rem;
  --gap-4xl-5: 1.468rem;
  --gap-26xl-5: 2.843rem;
  --gap-4xl-2: 1.45rem;
  --gap-7xl-7: 1.668rem;
  --gap-12xs: 0.062rem;
  --gap-11xl-1: 1.881rem;
  --gap-mini: 0.937rem;
  --gap-2xs-1: 0.631rem;
  --gap-lgi: 1.187rem;
  --gap-21xl-7: 2.543rem;
  --gap-4xl-4: 1.462rem;
  --gap-mini-7: 0.918rem;
  --gap-3xl-5: 1.406rem;
  --gap-smi-9: 0.806rem;
  --gap-lgi-9: 1.243rem;
  --gap-30xl: 3.062rem;
  --gap-11xl: 1.875rem;
  --gap-3xl: 1.375rem;
  --gap-6xl: 1.562rem;
  --gap-8xs: 0.312rem;
  --gap-8xs-2: 0.262rem;
  --gap-2xs-3: 0.643rem;
  --gap-9xs-4: 0.212rem;
  --gap-12xl: 1.937rem;
  --gap-mid: 1.062rem;
  --gap-sm: 0.875rem;
  --gap-64xl: 5.187rem;
  --gap-2xl: 1.312rem;
  --gap-22xl: 2.562rem;
  --gap-base-5: 0.968rem;
  --gap-base: 1rem;
  --gap-3xs: 0.625rem;
  --gap-lg-5: 1.156rem;
  --gap-3xs-2: 0.575rem;
  --gap-17xl-9: 2.306rem;
  --gap-xl-5: 1.281rem;
  --gap-xl-1: 1.256rem;
  --gap-base-2: 0.95rem;
  --gap-80xl: 6.187rem;
  --gap-132xl: 9.437rem;
  --gap-11xl-2: 1.887rem;
  --gap-6xs-1: 0.381rem;
  --gap-mid-9: 1.118rem;
  --gap-46xl-8: 4.112rem;
  --gap-17xl: 2.25rem;
  --gap-7xs-1: 0.318rem;
  --gap-47xl: 4.125rem;
  --gap-54xl: 4.562rem;
  --gap-5xl-6: 1.537rem;
  --gap-18xl-7: 2.356rem;
  --gap-22xl-2: 2.575rem;
  --gap-3xs-8: 0.612rem;
  --gap-29xl-2: 3.012rem;
  --gap-4xl-8: 1.487rem;
  --gap-24xl: 2.687rem;
  --gap-base-8: 1.05rem;
  --gap-17xl-7: 2.293rem;
  --gap-11xs-2: 0.075rem;
  --gap-14xl: 2.062rem;
  --gap-46xl: 4.062rem;
  --gap-13xl: 2rem;
  --gap-9xs: 0.25rem;
  --gap-6xs: 0.437rem;
  --gap-6xs-8: 0.425rem;
  --gap-88xl: 6.687rem;
  --gap-8xl: 1.687rem;
  --gap-34xl: 3.312rem;
  --gap-72xl: 5.687rem;
  --gap-4xl: 1.437rem;
  --gap-26xl: 2.812rem;
  --gap-36xl: 3.437rem;
  --gap-5xs-1: 0.443rem;
  --gap-3xl-7: 1.418rem;
  --gap-8xs-4: 0.275rem;
  --gap-xs-8: 0.737rem;
  --gap-41xl: 3.75rem;
  --gap-xs: 0.75rem;
  --gap-14xl-8: 2.112rem;
  --gap-11xl-6: 1.912rem;
  --gap-29xl-9: 3.056rem;
  --gap-8xs-9: 0.306rem;
  --gap-7xs-7: 0.356rem;

  /* Paddings */
  --padding-10xs-6: 0.162rem;
  --padding-51xl: 4.375rem;
  --padding-16xl: 2.187rem;
  --padding-9xl-3: 1.768rem;
  --padding-27xl-6: 2.912rem;
  --padding-38xl: 3.562rem;
  --padding-9xl: 1.75rem;
  --padding-3xl: 1.375rem;
  --padding-mini: 0.937rem;
  --padding-base: 1rem;
  --padding-lg: 1.125rem;
  --padding-3xl-7: 1.418rem;
  --padding-36xl: 3.437rem;
  --padding-20xl: 2.437rem;
  --padding-64xl-3: 5.206rem;
  --padding-17xl: 2.25rem;
  --padding-35xl: 3.375rem;
  --padding-2xs-6: 0.662rem;
  --padding-10xs-4: 0.15rem;
  --padding-57xl: 4.75rem;
  --padding-56xl: 4.687rem;
  --padding-xl: 1.25rem;
  --padding-6xl: 1.562rem;
  --padding-5xl: 1.5rem;
  --padding-72xl-8: 5.737rem;
  --padding-smi: 0.812rem;
  --padding-71xl-1: 5.631rem;
  --padding-104xl: 7.687rem;
  --padding-41xl: 3.75rem;
  --padding-40xl: 3.687rem;
  --padding-42xl: 3.812rem;
  --padding-3xs: 0.625rem;
  --padding-2xl: 1.312rem;
  --padding-7xl: 1.625rem;
  --padding-12xs: 0.062rem;
  --padding-11xs: 0.125rem;
  --padding-6xs-1: 0.381rem;
  --padding-mid: 1.062rem;
  --padding-lgi: 1.187rem;
  --padding-mid-3: 1.081rem;
  --padding-smi-1: 0.756rem;
  --padding-11xl: 1.875rem;
  --padding-24xl: 2.687rem;
  --padding-26xl: 2.812rem;
  --padding-62xl: 5.062rem;
  --padding-15xl: 2.125rem;
  --padding-34xl: 3.312rem;
  --padding-109xl: 8rem;
  --padding-168xl: 11.687rem;
  --padding-123xl: 8.875rem;
  --padding-151xl: 10.625rem;
  --padding-74xl: 5.812rem;
  --padding-66xl: 5.312rem;
  --padding-64xl: 5.187rem;
  --padding-73xl: 5.75rem;
  --padding-9xs-5: 0.218rem;
  --padding-5xs: 0.5rem;
  --padding-7xs-8: 0.362rem;
  --padding-14xl: 2.062rem;
  --padding-13xl: 2rem;
  --padding-12xl: 1.937rem;
  --padding-10xl: 1.812rem;
  --padding-7xs: 0.375rem;
  --padding-2xs: 0.687rem;
  --padding-xs: 0.75rem;
  --padding-8xs: 0.312rem;
  --padding-143xl-5: 10.156rem;
  --padding-28xl: 2.937rem;
  --padding-87xl: 6.625rem;
  --padding-4xl: 1.437rem;
  --padding-4xs: 0.562rem;
  --padding-5xl-5: 1.531rem;
  --padding-10xs: 0.187rem;
  --padding-2xs-4: 0.65rem;
  --padding-127xl: 9.125rem;
  --padding-43xl: 3.875rem;
  --padding-76xl: 5.937rem;
  --padding-90xl-2: 6.825rem;
  --padding-63xl-8: 5.175rem;
  --padding-15xl-3: 2.143rem;
  --padding-sm-8: 0.862rem;
  --padding-55xl-2: 4.637rem;
  --padding-69xl: 5.5rem;
  --padding-55xl: 4.625rem;
  --padding-8xl: 1.687rem;
  --padding-11xl-2: 1.887rem;
  --padding-9xs: 0.25rem;
  --padding-sm-1: 0.818rem;
  --padding-xs-9: 0.743rem;
  --padding-80xl: 6.187rem;
  --padding-23xl: 2.625rem;
  --padding-45xl: 4rem;
  --padding-53xl: 4.5rem;
  --padding-122xl-6: 8.85rem;
  --padding-16xl-6: 2.225rem;
  --padding-22xl: 2.562rem;
  --padding-153xl: 10.75rem;
  --padding-93xl: 7rem;
  --padding-31xl: 3.125rem;
  --padding-32xl: 3.187rem;
  --padding-146xl: 10.312rem;
  --padding-88xl: 6.687rem;
  --padding-smi-3: 0.768rem;
  --padding-sm: 0.875rem;
  --padding-59xl: 4.875rem;
  --padding-84xl: 6.437rem;
  --padding-61xl: 5rem;
  --padding-37xl: 3.5rem;
  --padding-346xl: 22.812rem;
  --padding-218xl: 14.812rem;
  --padding-370xl: 24.312rem;
  --padding-234xl: 15.812rem;
  --padding-129xl: 9.25rem;
  --padding-77xl: 6rem;
  --padding-338xl: 22.312rem;
  --padding-25xl-8: 2.8rem;
  --padding-68xl-4: 5.462rem;
  --padding-50xl: 4.312rem;
  --padding-base-4: 0.962rem;
  --padding-mini-5: 0.906rem;
  --padding-70xl: 5.562rem;
  --padding-3xs-3: 0.581rem;
  --padding-11xs-8: 0.112rem;
  --padding-11xs-9: 0.118rem;
  --padding-8xs-8: 0.3rem;
  --padding-6xs: 0.437rem;
  --padding-188xl: 12.937rem;

  /* Border radiuses */
  --br-10xl: 29px;
  --br-161xl-2: 180.2px;
  --br-91xl-4: 110.4px;
  --br-mid-3: 17.3px;
  --br-xl-8: 20.8px;
  --br-24xl-3: 43.3px;
  --br-8xs: 5px;
  --br-981xl: 1000px;
  --br-xs-2: 11.2px;
  --br-62xl-8: 81.8px;
  --br-50xl-5: 69.5px;
  --br-33xl-4: 52.4px;
  --br-15xl: 34px;
  --br-31xl-2: 50.2px;
  --br-232xl-2: 251.2px;
  --br-base: 16px;
  --br-17xl-6: 36.6px;
  --br-164xl-1: 183.1px;
  --br-11xl: 30px;
  --br-mid: 17px;
  --br-7xl-7: 26.7px;
  --br-3xl: 22px;
  --br-9xl: 28px;
  --br-13xl: 32px;
  --br-25xl-5: 44.5px;
}
