@import url("https://fonts.googleapis.com/css2?family=Yeseva+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Brands:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-font-awesome-5-brands: "Font Awesome 5 Brands";
  --font-dm-sans: "DM Sans";
  --font-sora: Sora;
  --font-inter: Inter;
  --font-helvetica: Helvetica;
  --font-mulish: Mulish;
  --font-source-sans-pro: "Source Sans Pro";
  --font-open-sans: "Open Sans";
  --font-manrope: Manrope;
  --font-space-grotesk: "Space Grotesk";
  --font-raleway: Raleway;
  --font-yeseva-one: "Yeseva One";
  --font-font-awesome-5-brands: "Font Awesome 5 Brands";
  --font-hind-guntur: "Hind Guntur";
  --font-poppins: Poppins;
  --font-readex-pro: "Readex Pro";


  /* font sizes */
  --font-size-5xl-1: 1.506rem;
  --font-size-lgi: 1.188rem;
  --font-size-lg-9: 1.181rem;
  --font-size-mid-2: 1.075rem;
  --font-size-5xl: 1.5rem;
  --font-size-sm-2: 0.825rem;
  --font-size-smi: 0.813rem;
  --font-size-32xl-5: 3.219rem;
  --font-size-12xl: 1.938rem;
  --font-size-22xl: 2.563rem;
  --font-size-25xl-8: 2.8rem;
  --font-size-8xl: 1.688rem;
  --font-size-17xl: 2.25rem;
  --font-size-xs-1: 0.694rem;
  --font-size-mid-3: 1.081rem;
  --font-size-7xl: 1.625rem;
  --font-size-2xl: 1.313rem;
  --font-size-base-6: 0.975rem;
  --font-size-mid-9: 1.119rem;
  --font-size-29xl: 3rem;
  --font-size-10xl: 1.813rem;
  --font-size-19xl: 2.375rem;
  --font-size-base: 1rem;
  --font-size-3xs: 0.625rem;
  --font-size-sm-8: 0.863rem;
  --font-size-xs: 0.75rem;
  --font-size-9xl: 1.75rem;
  --font-size-3xl: 1.375rem;
  --font-size-sm-1: 0.819rem;
  --font-size-3xl-9: 1.431rem;
  --font-size-lg: 1.125rem;
  --font-size-base-7: 0.981rem;
  --font-size-4xl: 1.438rem;
  --font-size-11xl: 1.875rem;
  --font-size-base-2: 1.013rem;
  --font-size-lg-8: 1.175rem;
  --font-size-28xl: 2.938rem;
  --font-size-4xs-1: 0.506rem;
  --font-size-13xl: 2rem;
  --font-size-4xl-1: 1.444rem;
  --font-size-31xl: 3.125rem;
  --font-size-21xl: 2.5rem;
  --font-size-mini-9: 0.931rem;
  --font-size-sm: 0.875rem;
  --font-size-4xs-7: 0.544rem;
  --font-size-23xl-6: 2.663rem;
  --font-size-5xl-1: 1.506rem;
  --font-size-lgi: 1.188rem;
  --font-size-lg-9: 1.181rem;
  --font-size-mid-2: 1.075rem;
  --font-size-5xl: 1.5rem;
  --font-size-sm-2: 0.825rem;
  --font-size-smi: 0.813rem;
  --font-size-32xl-5: 3.219rem;
  --font-size-12xl: 1.938rem;
  --font-size-22xl: 2.563rem;
  --font-size-25xl-8: 2.8rem;
  --font-size-8xl: 1.688rem;
  --font-size-17xl: 2.25rem;
  --font-size-xs-1: 0.694rem;
  --font-size-mini-2: 0.888rem;
  --font-size-3xl-1: 1.381rem;
  --font-size-lg: 1.125rem;
  --font-size-42xl-7: 3.856rem;
  --font-size-18xl: 2.313rem;
  --font-size-30xl: 3.063rem;
  --font-size-mid-3: 1.081rem;
  --font-size-7xl: 1.625rem;
  --font-size-2xl: 1.313rem;
  --font-size-2xs-8: 0.675rem;
  --font-size-mid-9: 1.119rem;
  --font-size-29xl: 3rem;
  --font-size-10xl: 1.813rem;
  --font-size-19xl: 2.375rem;
  --font-size-base-1: 0.944rem;
  --font-size-base-6: 1.038rem;
  --font-size-37xl-7: 3.544rem;
  --font-size-15xl: 2.125rem;
  --font-size-26xl: 2.813rem;
  --font-size-base-8: 1.05rem;
  --font-size-7xl-9: 1.681rem;
  --font-size-3xl: 1.375rem;
  --font-size-lgi-8: 1.238rem;
  --font-size-base-9: 0.994rem;
  --font-size-13xl-1: 2.006rem;
  --font-size-mini-9: 0.931rem;
  --font-size-3xl-4: 1.4rem;
  --font-size-base: 1rem;
  --font-size-13xl: 2rem;
  --font-size-sm: 0.875rem;
  --font-size-xl: 1.25rem;
  --font-size-12xl-5: 1.969rem;
  --font-size-6xl: 1.563rem;
  --font-size-4xl-1: 1.444rem;
  --font-size-31xl: 3.125rem;
  --font-size-11xl: 1.875rem;
  --font-size-21xl: 2.5rem;
  --font-size-4xs-7: 0.544rem;
  --font-size-23xl-6: 2.663rem;
  --font-size-xs: 0.75rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #fcfcff;
  --color-gray-200: #939497;
  --color-gray-300: #808080;
  --color-gray-400: #1f2123;
  --gray-900: #061c3d;
  --color-gray-500: #11191b;
  --color-gray-600: #0d0e25;
  --color-gray-700: #040f2d;
  --color-gray-800: #040e2e;
  --color-gray-900: rgba(255, 255, 255, 0.2);
  --color-gray-1000: rgba(4, 13, 31, 0.17);
  --color-gray-1100: rgba(255, 255, 255, 0.88);
  --color-gray-1200: rgba(255, 255, 255, 0.79);
  --color-gray-1300: rgba(13, 14, 37, 0.6);
  --gray-700: #42526b;
  --color-darkslategray-100: #353539;
  --color-darkslategray-200: #333;
  --color-darkslategray-300: #2f2f2f;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #dcdcdc;
  --color-darkorange: #ff8e37;
  --color-whitesmoke-100: #f6f9fc;
  --color-whitesmoke-200: #f7f7f7;
  --color-whitesmoke-300: #f5f7f8;
  --color-whitesmoke-400: #f6f6f6;
  --color-whitesmoke-500: #f2f4f5;
  --color-whitesmoke-600: #f1f1f1;
  --color-whitesmoke-700: #f0f0f0;
  --color-orangered-100: #ff6b0a;
  --color-orangered-200: #f05306;
  --color-silver: #c4c4c4;
  --color-black: #000;
  --color-darkgray: #a3a3a3;
  --color-navajowhite: #ffd6a8;
  --color-dimgray: #6e6e6e;
  --color-lightslategray-100: #8b949d;
  --color-lightslategray-200: rgba(120, 144, 167, 0.2);
  --color-floralwhite: #fbfaf2;
  --color-burlywood: rgba(255, 196, 154, 0.2);
  --grey-1: #8a8a8a;
  --color-darkslategray-400: #445169;
  --color-darkslategray-500: #2a496b;
  --color-darkslategray-600: #2a4a45;
  --color-gainsboro-300: #e0e1e1;
  --color-mintcream: #f4fffb;
  --color-silver-100: #c0c0c0;
  --color-coral: #ff7853;
  --color-dodgerblue: #3f87fe;
  --color-saddlebrown: #4f340a;
  --color-papayawhip: #ffecd4;
  --color-darkslateblue: #2a3062;
  --color-seashell: #fff6ec;
  --color-darkslategray-500: #333;

  /* Gaps */
  --gap-17xl-8: 2.3rem;
  --gap-lg: 1.125rem;
  --gap-xl: 1.25rem;
  --gap-49xl-8: 4.3rem;
  --gap-15xl: 2.125rem;
  --gap-5xl: 1.5rem;
  --gap-2xl-4: 1.337rem;
  --gap-29xl: 3rem;
  --gap-base-4: 1.025rem;
  --gap-35xl-6: 3.412rem;
  --gap-4xl-5: 1.468rem;
  --gap-26xl-5: 2.843rem;
  --gap-4xl-2: 1.45rem;
  --gap-7xl-7: 1.668rem;
  --gap-12xs: 0.062rem;
  --gap-11xl-1: 1.881rem;
  --gap-mini: 0.937rem;
  --gap-2xs-1: 0.631rem;
  --gap-lgi: 1.187rem;
  --gap-21xl-7: 2.543rem;
  --gap-4xl-4: 1.462rem;
  --gap-mini-7: 0.918rem;
  --gap-3xl-5: 1.406rem;
  --gap-smi-9: 0.806rem;
  --gap-lgi-9: 1.243rem;
  --gap-30xl: 3.062rem;
  --gap-11xl: 1.875rem;
  --gap-3xl: 1.375rem;
  --gap-6xl: 1.562rem;
  --gap-8xs: 0.312rem;
  --gap-8xs-2: 0.262rem;
  --gap-2xs-3: 0.643rem;
  --gap-9xs-4: 0.212rem;
  --gap-12xl: 1.937rem;
  --gap-mid: 1.062rem;
  --gap-sm: 0.875rem;
  --gap-64xl: 5.187rem;
  --gap-2xl: 1.312rem;
  --gap-22xl: 2.562rem;
  --gap-base-5: 0.968rem;
  --gap-base: 1rem;
  --gap-3xs: 0.625rem;
  --gap-lg-5: 1.156rem;
  --gap-3xs-2: 0.575rem;
  --gap-17xl-9: 2.306rem;
  --gap-xl-5: 1.281rem;
  --gap-xl-1: 1.256rem;
  --gap-base-2: 0.95rem;
  --gap-80xl: 6.187rem;
  --gap-132xl: 9.437rem;
  --gap-11xl-2: 1.887rem;
  --gap-6xs-1: 0.381rem;
  --gap-mid-9: 1.118rem;
  --gap-46xl-8: 4.112rem;
  --gap-17xl: 2.25rem;
  --gap-7xs-1: 0.318rem;
  --gap-47xl: 4.125rem;
  --gap-54xl: 4.562rem;
  --gap-5xl-6: 1.537rem;
  --gap-18xl-7: 2.356rem;
  --gap-22xl-2: 2.575rem;
  --gap-3xs-8: 0.612rem;
  --gap-29xl-2: 3.012rem;
  --gap-4xl-8: 1.487rem;
  --gap-24xl: 2.687rem;
  --gap-base-8: 1.05rem;
  --gap-17xl-7: 2.293rem;
  --gap-11xs-2: 0.075rem;
  --gap-14xl: 2.062rem;
  --gap-46xl: 4.062rem;
  --gap-13xl: 2rem;
  --gap-9xs: 0.25rem;
  --gap-6xs: 0.437rem;
  --gap-6xs-8: 0.425rem;
  --gap-88xl: 6.687rem;
  --gap-8xl: 1.687rem;
  --gap-34xl: 3.312rem;
  --gap-72xl: 5.687rem;
  --gap-4xl: 1.437rem;
  --gap-26xl: 2.812rem;
  --gap-36xl: 3.437rem;
  --gap-5xs-1: 0.443rem;
  --gap-3xl-7: 1.418rem;
  --gap-8xs-4: 0.275rem;
  --gap-xs-8: 0.737rem;
  --gap-41xl: 3.75rem;
  --gap-xs: 0.75rem;
  --gap-14xl-8: 2.112rem;
  --gap-11xl-6: 1.912rem;
  --gap-29xl-9: 3.056rem;
  --gap-8xs-9: 0.306rem;
  --gap-7xs-7: 0.356rem;
  --gap-17xl-8: 2.3rem;
  --gap-lg: 1.125rem;
  --gap-xl: 1.25rem;
  --gap-49xl-8: 4.3rem;
  --gap-15xl: 2.125rem;
  --gap-5xl: 1.5rem;
  --gap-2xl-4: 1.337rem;
  --gap-29xl: 3rem;
  --gap-base-3: 1.018rem;
  --gap-35xl-6: 3.412rem;
  --gap-4xl-5: 1.468rem;
  --gap-26xl-5: 2.843rem;
  --gap-4xl-2: 1.45rem;
  --gap-7xl-7: 1.668rem;
  --gap-12xs: 0.062rem;
  --gap-11xl-2: 1.887rem;
  --gap-mini: 0.937rem;
  --gap-2xs-1: 0.631rem;
  --gap-85xl-4: 6.525rem;
  --gap-7xl: 1.625rem;
  --gap-33xl: 3.25rem;
  --gap-mini-6: 0.912rem;
  --gap-7xs-6: 0.35rem;
  --gap-base-1: 1.006rem;
  --gap-7xs-7: 0.356rem;
  --gap-3xs: 0.625rem;
  --gap-23xl: 2.625rem;
  --gap-2xl: 1.312rem;
  --gap-5xs-9: 0.493rem;
  --gap-4xl-1: 1.443rem;
  --gap-21xl-7: 2.543rem;
  --gap-46xl-6: 4.1rem;
  --gap-14xl: 2.062rem;
  --gap-4xl-4: 1.462rem;
  --gap-mini-7: 0.918rem;
  --gap-3xl-5: 1.406rem;
  --gap-18xl-3: 2.331rem;
  --gap-lgi: 1.187rem;
  --gap-3xl-1: 1.381rem;
  --gap-base-6: 1.037rem;
  --gap-4xs-9: 0.556rem;
  --gap-lgi-9: 1.243rem;
  --gap-9xs-3: 0.206rem;
  --gap-14xl-1: 2.068rem;
  --gap-mid: 1.062rem;
  --gap-2xl-9: 1.368rem;
  --gap-base-9: 0.993rem;
  --gap-4xs-4: 0.525rem;
  --gap-31xl-1: 3.131rem;
  --gap-6xl: 1.562rem;
  --gap-8xs: 0.312rem;
  --gap-4xs-8: 0.55rem;
  --gap-2xs-5: 0.656rem;
  --gap-48xl-6: 4.225rem;
  --gap-11xl: 1.875rem;
  --gap-16xl: 2.187rem;
  --gap-xs-7: 0.731rem;
  --gap-base: 1rem;
  --gap-5xl-6: 1.537rem;
  --gap-2xl-3: 1.331rem;
  --gap-36xl-2: 3.45rem;
  --gap-9xl: 1.75rem;
  --gap-lgi-6: 1.225rem;
  --gap-20xl: 2.437rem;
  --gap-59xl-8: 4.925rem;
  --gap-92xl: 6.937rem;
  --gap-36xl: 3.437rem;
  --gap-10xl-8: 1.862rem;
  --gap-100xl: 7.437rem;
  --gap-40xl: 3.687rem;
  --gap-xs: 0.75rem;
  --gap-109xl: 8rem;
  --gap-13xl: 2rem;
  --gap-45xl: 4rem;
  --gap-19xl: 2.375rem;
  --gap-smi: 0.812rem;
  --gap-2xl-5: 1.343rem;
  --gap-58xl: 4.812rem;
  --gap-27xl: 2.875rem;
  --gap-4xl: 1.437rem;
  --gap-9xs: 0.25rem;
  --gap-97xl: 7.25rem;
  --gap-39xl: 3.625rem;
  --gap-10xl: 1.812rem;
  --gap-93xl: 7rem;
  --gap-37xl: 3.5rem;
  --gap-mini-3: 0.893rem;
  --gap-7xs: 0.375rem;
  --gap-5xs: 0.5rem;
  --gap-7xs-5: 0.343rem;
  --gap-72xl: 5.687rem;
  --gap-26xl: 2.812rem;
  --gap-32xl: 3.187rem;
  --gap-25xl: 2.75rem;
  --gap-3xl: 1.375rem;
  --gap-48xl: 4.187rem;
  --gap-53xl: 4.5rem;
  --gap-17xl: 2.25rem;
  --gap-mid-5: 1.093rem;
  --gap-14xl-8: 2.112rem;
  --gap-11xl-6: 1.912rem;
  --gap-sm: 0.875rem;
  --gap-8xs-9: 0.306rem;

  /* Paddings */
  --padding-10xs-6: 0.162rem;
  --padding-51xl: 4.375rem;
  --padding-16xl: 2.187rem;
  --padding-9xl-3: 1.768rem;
  --padding-27xl-6: 2.912rem;
  --padding-38xl: 3.562rem;
  --padding-9xl: 1.75rem;
  --padding-3xl: 1.375rem;
  --padding-mini: 0.937rem;
  --padding-base: 1rem;
  --padding-lg: 1.125rem;
  --padding-3xl-7: 1.418rem;
  --padding-36xl: 3.437rem;
  --padding-20xl: 2.437rem;
  --padding-64xl-3: 5.206rem;
  --padding-17xl: 2.25rem;
  --padding-35xl: 3.375rem;
  --padding-2xs-6: 0.662rem;
  --padding-10xs-4: 0.15rem;
  --padding-57xl: 4.75rem;
  --padding-56xl: 4.687rem;
  --padding-xl: 1.25rem;
  --padding-6xl: 1.562rem;
  --padding-5xl: 1.5rem;
  --padding-72xl-8: 5.737rem;
  --padding-smi: 0.812rem;
  --padding-71xl-1: 5.631rem;
  --padding-104xl: 7.687rem;
  --padding-41xl: 3.75rem;
  --padding-40xl: 3.687rem;
  --padding-42xl: 3.812rem;
  --padding-3xs: 0.625rem;
  --padding-2xl: 1.312rem;
  --padding-7xl: 1.625rem;
  --padding-12xs: 0.062rem;
  --padding-11xs: 0.125rem;
  --padding-6xs-1: 0.381rem;
  --padding-mid: 1.062rem;
  --padding-lgi: 1.187rem;
  --padding-mid-3: 1.081rem;
  --padding-smi-1: 0.756rem;
  --padding-11xl: 1.875rem;
  --padding-24xl: 2.687rem;
  --padding-26xl: 2.812rem;
  --padding-62xl: 5.062rem;
  --padding-15xl: 2.125rem;
  --padding-34xl: 3.312rem;
  --padding-109xl: 8rem;
  --padding-168xl: 11.687rem;
  --padding-123xl: 8.875rem;
  --padding-151xl: 10.625rem;
  --padding-74xl: 5.812rem;
  --padding-66xl: 5.312rem;
  --padding-64xl: 5.187rem;
  --padding-73xl: 5.75rem;
  --padding-9xs-5: 0.218rem;
  --padding-5xs: 0.5rem;
  --padding-7xs-8: 0.362rem;
  --padding-14xl: 2.062rem;
  --padding-13xl: 2rem;
  --padding-12xl: 1.937rem;
  --padding-10xl: 1.812rem;
  --padding-7xs: 0.375rem;
  --padding-2xs: 0.687rem;
  --padding-xs: 0.75rem;
  --padding-8xs: 0.312rem;
  --padding-143xl-5: 10.156rem;
  --padding-28xl: 2.937rem;
  --padding-87xl: 6.625rem;
  --padding-4xl: 1.437rem;
  --padding-4xs: 0.562rem;
  --padding-5xl-5: 1.531rem;
  --padding-10xs: 0.187rem;
  --padding-2xs-4: 0.65rem;
  --padding-127xl: 9.125rem;
  --padding-43xl: 3.875rem;
  --padding-76xl: 5.937rem;
  --padding-90xl-2: 6.825rem;
  --padding-63xl-8: 5.175rem;
  --padding-15xl-3: 2.143rem;
  --padding-sm-8: 0.862rem;
  --padding-55xl-2: 4.637rem;
  --padding-69xl: 5.5rem;
  --padding-55xl: 4.625rem;
  --padding-8xl: 1.687rem;
  --padding-11xl-2: 1.887rem;
  --padding-9xs: 0.25rem;
  --padding-sm-1: 0.818rem;
  --padding-xs-9: 0.743rem;
  --padding-80xl: 6.187rem;
  --padding-23xl: 2.625rem;
  --padding-45xl: 4rem;
  --padding-53xl: 4.5rem;
  --padding-122xl-6: 8.85rem;
  --padding-16xl-6: 2.225rem;
  --padding-22xl: 2.562rem;
  --padding-153xl: 10.75rem;
  --padding-93xl: 7rem;
  --padding-31xl: 3.125rem;
  --padding-32xl: 3.187rem;
  --padding-146xl: 10.312rem;
  --padding-88xl: 6.687rem;
  --padding-smi-3: 0.768rem;
  --padding-sm: 0.875rem;
  --padding-59xl: 4.875rem;
  --padding-84xl: 6.437rem;
  --padding-61xl: 5rem;
  --padding-37xl: 3.5rem;
  --padding-346xl: 22.812rem;
  --padding-218xl: 14.812rem;
  --padding-370xl: 24.312rem;
  --padding-234xl: 15.812rem;
  --padding-129xl: 9.25rem;
  --padding-77xl: 6rem;
  --padding-338xl: 22.312rem;
  --padding-25xl-8: 2.8rem;
  --padding-68xl-4: 5.462rem;
  --padding-50xl: 4.312rem;
  --padding-base-4: 0.962rem;
  --padding-mini-5: 0.906rem;
  --padding-70xl: 5.562rem;
  --padding-3xs-3: 0.581rem;
  --padding-11xs-8: 0.112rem;
  --padding-11xs-9: 0.118rem;
  --padding-8xs-8: 0.3rem;
  --padding-6xs: 0.437rem;
  --padding-188xl: 12.937rem;
  --padding-10xs-6: 0.162rem;
  --padding-16xl: 2.187rem;
  --padding-9xl-3: 1.768rem;
  --padding-27xl-6: 2.912rem;
  --padding-38xl: 3.562rem;
  --padding-9xl: 1.75rem;
  --padding-3xl: 1.375rem;
  --padding-mini: 0.937rem;
  --padding-base: 1rem;
  --padding-lg: 1.125rem;
  --padding-3xl-7: 1.418rem;
  --padding-36xl: 3.437rem;
  --padding-20xl: 2.437rem;
  --padding-64xl-3: 5.206rem;
  --padding-17xl: 2.25rem;
  --padding-35xl: 3.375rem;
  --padding-2xs-6: 0.662rem;
  --padding-10xs-4: 0.15rem;
  --padding-57xl: 4.75rem;
  --padding-56xl: 4.687rem;
  --padding-xl: 1.25rem;
  --padding-6xl: 1.562rem;
  --padding-5xl: 1.5rem;
  --padding-72xl-8: 5.737rem;
  --padding-smi: 0.812rem;
  --padding-71xl: 5.625rem;
  --padding-101xl: 7.5rem;
  --padding-41xl: 3.75rem;
  --padding-39xl: 3.625rem;
  --padding-3xs: 0.625rem;
  --padding-2xl: 1.312rem;
  --padding-7xl: 1.625rem;
  --padding-12xs: 0.062rem;
  --padding-11xs: 0.125rem;
  --padding-13xl: 2rem;
  --padding-74xl-6: 5.85rem;
  --padding-42xl: 3.812rem;
  --padding-lgi-8: 1.237rem;
  --padding-xl-4: 1.275rem;
  --padding-59xl: 4.875rem;
  --padding-59xl-2: 4.887rem;
  --padding-base-8: 0.987rem;
  --padding-mid: 1.062rem;
  --padding-base-5: 1.031rem;
  --padding-57xl-7: 4.793rem;
  --padding-31xl: 3.125rem;
  --padding-lgi: 1.187rem;
  --padding-8xs-5: 0.281rem;
  --padding-193xl-5: 13.281rem;
  --padding-119xl: 8.625rem;
  --padding-6xs-1: 0.381rem;
  --padding-5xl-5: 1.531rem;
  --padding-4xs-4: 0.525rem;
  --padding-4xs: 0.562rem;
  --padding-24xl: 2.687rem;
  --padding-26xl: 2.812rem;
  --padding-4xs-3: 0.518rem;
  --padding-3xs-1: 0.568rem;
  --padding-160xl: 11.187rem;
  --padding-97xl: 7.25rem;
  --padding-79xl: 6.125rem;
  --padding-134xl: 9.562rem;
  --padding-135xl-6: 9.662rem;
  --padding-247xl: 16.625rem;
  --padding-45xl: 4rem;
  --padding-81xl: 6.25rem;
  --padding-114xl: 8.312rem;
  --padding-sm-6: 0.85rem;
  --padding-smi-7: 0.793rem;
  --padding-4xl: 1.437rem;
  --padding-7xs-9: 0.368rem;
  --padding-8xs: 0.312rem;
  --padding-sm-5: 0.843rem;
  --padding-124xl-4: 8.962rem;
  --padding-74xl: 5.812rem;
  --padding-29xl-4: 3.025rem;
  --padding-25xl-6: 2.787rem;
  --padding-89xl: 6.75rem;
  --padding-12xl: 1.937rem;
  --padding-10xl: 1.812rem;
  --padding-8xl: 1.687rem;
  --padding-30xl: 3.062rem;
  --padding-5xs: 0.5rem;
  --padding-24xl-5: 2.718rem;
  --padding-215xl-3: 14.643rem;
  --padding-133xl: 9.5rem;
  --padding-50xl: 4.312rem;
  --padding-54xl: 4.562rem;
  --padding-15xl: 2.125rem;
  --padding-62xl: 5.062rem;
  --padding-25xl: 2.75rem;
  --padding-21xl: 2.5rem;
  --padding-29xl-8: 3.05rem;
  --padding-34xl: 3.312rem;
  --padding-37xl: 3.5rem;
  --padding-8xs-8: 0.3rem;
  --padding-40xl: 3.687rem;
  --padding-106xl: 7.812rem;
  --padding-92xl: 6.937rem;
  --padding-96xl-4: 7.212rem;
  --padding-33xl: 3.25rem;
  --padding-6xs: 0.437rem;
  --padding-20xl-8: 2.487rem;
  --padding-29xl: 3rem;
  --padding-64xl: 5.187rem;
  --padding-85xl: 6.5rem;
  --padding-91xl: 6.875rem;
  --padding-52xl: 4.437rem;
  --padding-32xl: 3.187rem;
  --padding-205xl: 14rem;
  --padding-76xl: 5.937rem;
  --padding-43xl: 3.875rem;
  --padding-127xl: 9.125rem;
  --padding-58xl: 4.812rem;
  --padding-14xl: 2.062rem;
  --padding-xs: 0.75rem;
  --padding-2xs: 0.687rem;
  --padding-100xl: 7.437rem;
  --padding-69xl: 5.5rem;
  --padding-61xl: 5rem;
  --padding-10xs: 0.187rem;
  --padding-smi-5: 0.781rem;
  --padding-118xl: 8.562rem;
  --padding-70xl: 5.562rem;
  --padding-96xl: 7.187rem;
  --padding-47xl-8: 4.175rem;
  --padding-64xl-4: 5.212rem;
  --padding-185xl: 12.75rem;
  --padding-mini-5: 0.906rem;
  --padding-49xl: 4.25rem;
  --padding-3xs-3: 0.581rem;
  --padding-11xs-8: 0.112rem;
  --padding-11xs-9: 0.118rem;
  --padding-10xs-7: 0.168rem;
  --padding-9xs: 0.25rem;
  --padding-7xs: 0.375rem;

  /* Border radiuses */
  --br-10xl: 29px;
  --br-161xl-2: 180.2px;
  --br-91xl-4: 110.4px;
  --br-mid-3: 17.3px;
  --br-xl-8: 20.8px;
  --br-24xl-3: 43.3px;
  --br-8xs: 5px;
  --br-981xl: 1000px;
  --br-xs-2: 11.2px;
  --br-62xl-8: 81.8px;
  --br-50xl-5: 69.5px;
  --br-33xl-4: 52.4px;
  --br-15xl: 34px;
  --br-31xl-2: 50.2px;
  --br-232xl-2: 251.2px;
  --br-base: 16px;
  --br-17xl-6: 36.6px;
  --br-164xl-1: 183.1px;
  --br-11xl: 30px;
  --br-mid: 17px;
  --br-7xl-7: 26.7px;
  --br-3xl: 22px;
  --br-9xl: 28px;
  --br-13xl: 32px;
  --br-25xl-5: 44.5px;
  --br-10xl: 29px;
  --br-161xl-2: 180.2px;
  --br-91xl-4: 110.4px;
  --br-base-8: 15.8px;
  --br-10xs-7: 2.7px;
  --br-56xl-6: 75.6px;
  --br-mini-4: 14.4px;
  --br-24xl-3: 43.3px;
  --br-mid-3: 17.3px;
  --br-5xl: 24px;
  --br-base: 16px;
  --br-lg: 18px;
  --br-33xl-4: 52.4px;
  --br-16xl: 35px;
  --br-164xl-1: 183.1px;
  --br-9xl: 28px;
  --br-11xl: 30px;
  --br-25xl-5: 44.5px;
}