.modernSolutions {
  position: relative;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
}
.customizedSecurity,
.solutions {
  margin: 0;
}
.heading2Container {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 2.625rem;
  font-weight: 600;
  color: var(--color-white);
}
.modernSolutionsTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.modernSolutionsTitleContain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.securityAssessmentTopChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.securityAssessmentTopItem,
.vectorIcon {
  position: absolute;
  top: 2.5rem;
  left: 2.488rem;
  width: 3.75rem;
  height: 3.75rem;
  z-index: 1;
}
.vectorIcon {
  top: 1.5rem;
  left: 7.3rem;
  width: 1rem;
  height: 0.688rem;
}
.securityAssessmentTop {
  height: 8.738rem;
  flex: 1;
  position: relative;
}
.securityAssessmentContent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.assessmentAndAudit,
.security {
  margin: 0;
}
.ensuringDataAccuracy,
.securityAssessmentAndContainer {
  align-self: stretch;
  position: relative;
  line-height: 116%;
}
.ensuringDataAccuracy {
  font-size: var(--font-size-mini-9);
  line-height: 160%;
  color: var(--grey-1);
}
.securityAssessmentAndAuditParent,
.securityAssessmentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.securityAssessmentAndAuditParent {
  align-self: stretch;
  gap: var(--gap-mini);
}
.securityAssessmentContainer {
  width: 15.494rem;
  gap: var(--gap-10xl-8);
}
.frameChild {
  width: 0.063rem;
  flex: 1;
  position: relative;
  max-height: 100%;
}
.vectorWrapper {
  height: 17.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.securityAssessmentContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-3xl-4);
  color: var(--color-white);
  font-family: var(--font-helvetica);
}
.modernSolutionsContent {
  width: 22.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-100xl);
  min-width: 22.688rem;
  max-width: 100%;
}
.customizedSecuritySolutions {
  margin: 0;
}
.customizedSecuritySolutionsContainer1 {
  width: 100%;
}
.customizedSecuritySolutionsContainer {
  height: 6rem;
  width: 33.5rem;
  position: relative;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.consultingServicesContent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
  max-width: 100%;
}
.consultingServicesIconsChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameItem {
  width: 2.794rem;
  flex: 1;
  position: relative;
  max-height: 100%;
  z-index: 1;
}
.consultingServicesIconsInner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
}
.vectorIcon1 {
  height: 0.688rem;
  width: 1rem;
  position: relative;
  z-index: 1;
}
.consultingServicesIconConta,
.consultingServicesIcons {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.consultingServicesIcons {
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-3xs) var(--padding-20xl-8)
    var(--padding-29xl);
  position: relative;
  gap: var(--gap-xl);
}
.consultingServicesIconConta {
  justify-content: flex-end;
  padding: 0 var(--padding-33xl) 0 var(--padding-34xl);
}
.advisoryServices,
.consultingAnd {
  margin: 0;
}
.consultingAndAdvisoryContainer {
  position: relative;
  line-height: 116%;
}
.consultingAndAdvisoryServicWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xl);
}
.ensuringDataAccuracy1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini-9);
  line-height: 160%;
  color: var(--grey-1);
}
.consultingServicesBottom,
.consultingServicesTopConten {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.consultingServicesBottom {
  align-self: stretch;
  gap: var(--gap-mini);
}
.consultingServicesTopConten {
  height: 19.288rem;
  width: 17.225rem;
  padding: 0 var(--padding-8xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-10xl-8);
}
.frameInner {
  width: 0.063rem;
  flex: 1;
  position: relative;
  max-height: 100%;
}
.consultingServicesTopInner {
  height: 17.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frameChild1,
.vectorIcon2 {
  position: absolute;
  top: 2.5rem;
  left: 2.763rem;
  width: 3.281rem;
  height: 3.75rem;
  z-index: 1;
}
.vectorIcon2 {
  top: 1.5rem;
  left: 7.325rem;
  width: 1rem;
  height: 0.688rem;
}
.frameGroup {
  height: 8.738rem;
  flex: 1;
  position: relative;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.policyDevelopment {
  width: 13.313rem;
  position: relative;
  line-height: 1.625rem;
  display: inline-block;
}
.policyDevelopmentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
}
.ensuringDataAccuracy2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini-9);
  line-height: 160%;
  color: var(--grey-1);
}
.frameContainer,
.frameParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-mini);
}
.frameParent {
  width: 15.494rem;
  align-items: flex-start;
  gap: var(--gap-10xl-8);
}
.consultingServicesContainer,
.consultingServicesTop {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.consultingServicesTop {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-3xl-4);
  color: var(--color-white);
  font-family: var(--font-helvetica);
  padding-top: 0;
}
.consultingServicesContainer {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-92xl);
  max-width: 100%;
}
.consultingServicesContainerWrapper,
.modernSolutionsContainer,
.modernSolutionsContainerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.consultingServicesContainerWrapper {
  width: 43.106rem;
  flex-direction: column;
  padding: var(--padding-9xl) 0 0;
  min-width: 43.106rem;
  font-size: var(--font-size-base);
  color: var(--color-silver-200);
}
.modernSolutionsContainer,
.modernSolutionsContainerWrapper {
  flex-direction: row;
}
.modernSolutionsContainer {
  flex: 1;
  border-radius: 52.42px;
  background-color: var(--color-black);
  overflow: hidden;
  padding: var(--padding-106xl) var(--padding-92xl) var(--padding-96xl-4);
  gap: var(--gap-59xl-8);
}
.modernSolutionsContainerWrapper {
  width: 89.188rem;
  padding: 0 var(--padding-mini);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-orangered-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1400px) {
  .consultingServicesContainerWrapper,
  .modernSolutionsContent,
  .modernSolutionsTitle {
    flex: 1;
  }
  .modernSolutionsContainer {
    flex-wrap: wrap;
    padding-left: var(--padding-36xl);
    padding-right: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .consultingServicesContainerWrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .heading2Container {
    font-size: var(--font-size-7xl);
    line-height: 2.125rem;
  }
  .modernSolutionsContent {
    min-width: 100%;
  }
  .consultingServicesTop {
    flex-wrap: wrap;
    padding-top: 22%;
  }
  .consultingServicesContainer {
    gap: var(--gap-36xl);
  }
  .modernSolutionsContainer {
    gap: var(--gap-20xl);
    padding: var(--padding-62xl) var(--padding-8xl) var(--padding-56xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .consultingServicesTopInner {
    height: 17.688rem;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs) 0 0;
    box-sizing: border-box;
  }
  .heading2Container {
    font-size: var(--font-size-lgi);
    line-height: 1.563rem;
  }
  .securityAssessmentAndContainer {
    font-size: var(--font-size-lg);
    line-height: 1.313rem;
  }
  .modernSolutionsContent {
    gap: var(--gap-40xl);
  }
  .consultingAndAdvisoryContainer,
  .policyDevelopment {
    font-size: var(--font-size-lg);
    line-height: 1.313rem;
  }
  .consultingServicesContainer {
    gap: var(--gap-9xl);
  }
  .modernSolutionsContainer {
    gap: var(--gap-xl);
    padding-top: var(--padding-34xl);
    padding-bottom: var(--padding-30xl);
    box-sizing: border-box;
  }
}
