.image,
.imageIcon {
  width: 32rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
}
.image {
  align-self: stretch;
  display: none;
}
.imageIcon {
  border-radius: var(--br-16xl);
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.applicationSecurity {
  color: var(--color-orangered-100);
}
.webApplicationSecurityContainer1 {
  width: 100%;
}
.webApplicationSecurityContainer {
  width: 28.438rem;
  position: relative;
  line-height: 3rem;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.ensureRobustProtection {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.625rem;
  font-weight: 300;
  font-family: var(--font-inter);
}
.webApplicationTitleDescript {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  max-width: 100%;
}
.frameChild,
.frameInner,
.frameItem {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
}
.frameParent,
.webApplicationIconsContaine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  gap: var(--gap-2xl-5);
}
.webApplicationIconsContaine {
  padding: var(--padding-3xs) 0 0;
}
.codeReview,
.securityPatchManagement,
.webApplicationFirewall {
  margin: 0;
}
.webApplicationFirewallContainer {
  margin-bottom: -0.5rem;
  height: 7.688rem;
  position: relative;
  line-height: 2.563rem;
  display: flex;
  align-items: center;
}
.webApplicationFirewallWafWrapper {
  height: 7.188rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.icons,
.icons1 {
  width: 21.281rem;
  height: 0.063rem;
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.icons {
  top: 2.156rem;
  left: 0.031rem;
}
.icons1 {
  bottom: 2.875rem;
  left: 0;
}
.icons2 {
  width: 21.281rem;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.webApplicationIconsBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  position: relative;
  max-width: calc(100% - 31px);
}
.webApplicationIcons,
.webApplicationTitleDescriptParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.webApplicationIcons {
  flex-direction: row;
  gap: var(--gap-smi);
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.webApplicationTitleDescriptParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-19xl);
}
.localBenchmarking,
.localBenchmarkingInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.localBenchmarkingInner {
  width: 31.25rem;
  flex-direction: column;
  padding: var(--padding-15xl) 0 0;
  min-width: 31.25rem;
}
.localBenchmarking {
  align-self: stretch;
  background: linear-gradient(180deg, #fff, #edf0f2);
  flex-direction: row;
  padding: var(--padding-64xl) var(--padding-85xl) var(--padding-26xl);
  gap: var(--gap-109xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-500);
  font-family: var(--font-helvetica);
}
@media screen and (max-width: 1400px) {
  .imageIcon,
  .localBenchmarkingInner {
    flex: 1;
  }
  .localBenchmarking {
    flex-wrap: wrap;
    gap: var(--gap-45xl);
    padding-left: var(--padding-33xl);
    padding-right: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .webApplicationSecurityContainer {
    font-size: var(--font-size-19xl);
    line-height: 2.375rem;
  }
  .webApplicationTitleDescriptParent {
    gap: var(--gap-lgi);
  }
  .localBenchmarkingInner {
    min-width: 100%;
  }
  .localBenchmarking {
    gap: var(--gap-13xl);
    padding: var(--padding-35xl) var(--padding-7xl) var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .webApplicationSecurityContainer {
    font-size: var(--font-size-10xl);
    line-height: 1.813rem;
  }
  .ensureRobustProtection {
    font-size: var(--font-size-base);
    line-height: 1.313rem;
  }
  .webApplicationFirewallContainer {
    font-size: var(--font-size-base);
    line-height: 2.063rem;
  }
  .localBenchmarking {
    gap: var(--gap-base);
  }
}
