.footer {
  align-self: stretch;
  background-color: #1f1f1f;
  padding: var(--padding-10xs-6) var(--padding-51xl) 0;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 2;
  width: 100%;
}

.footer {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.footer {
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 800px) {
  .footer {
    padding-left: 1rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
}
